<div class="main-chat-layout">
  <div class="conversations-sidebar">
    <button class="new-chat-button" (click)="newConversation()">+ New Chat</button>
    <div class="conversation-list">
      <div *ngFor="let conv of (conversations | async)"
           class="conversation-item"
           [ngClass]="{'active': (currentConversationId | async) === conv.conversation_id}"
           (click)="selectConversation(conv.conversation_id)">
        <span class="conversation-text">{{ conv.firstMessage | slice:0:50 }}...</span>
        <button class="delete-conversation-item-button" (click)="deleteConversation(conv.conversation_id); $event.stopPropagation();">
          <img src="assets/icons/delete.svg" alt="Delete Conversation">
        </button>
      </div>
    </div>
  </div>
  <div class="chat-container">
    <div class="messages-area" [ngClass]="{'empty-chat-messages-area': (messages | async)?.length === 0}">
      <div *ngIf="(messages | async)?.length === 0" class="welcome-message">
        <p>How can I help you today?</p>
      </div>
      <div *ngFor="let message of (messages | async)" class="message-bubble" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
        <p>{{ message.text }}</p>
      </div>
    </div>
    <div class="input-area">
      <div class="textarea-wrapper">
        <textarea placeholder="Type your message here..." [(ngModel)]="userMessage" (keyup.enter)="sendMessage()"></textarea>
        <button class="send-button" (click)="sendMessage()">
          <img src="assets/icons/send-message.svg" alt="Send">
        </button>
      </div>
    </div>
  </div>
</div>
