
<div class="az-content az-content-dashboard">
  <div class="container">
    <div class="az-content-body">
      <div class="az-dashboard-one-title">
        <div>
          <h2 class="az-dashboard-title">Welcome back!</h2>
          <p class="az-dashboard-text">Your <strong>personal</strong> electronic medical record</p>
        </div>
        <div class="az-content-header-right">
          <div class="media">
            <div class="media-body">
              <label>Last Updated</label>
              <h6>Oct 10, 2018</h6>
            </div><!-- media-body -->
          </div><!-- media -->
          <div class="media">
            <div class="media-body">
              <label>Selected Sources</label>
              <h6>All Sources</h6>
            </div><!-- media-body -->
          </div><!-- media -->
          <a [routerLink]="'/sources'" class="btn btn-purple">Add Source</a>
          <a [routerLink]="'/resource/create'" class="btn btn-purple mg-l-10">Add Condition</a>

        </div>
      </div><!-- az-dashboard-one-title -->

      <div class="az-dashboard-nav">
        <nav class="nav">
        </nav>

        <nav class="nav">
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="far fa-save"></i> Export</a>
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="far fa-file-pdf"></i> Create</a>
          <a class="nav-link" (click)="toggleEditableGrid()"><i class="fas fa-edit"></i> Edit </a>
          <a class="nav-link"><i class="fas fa-ellipsis"></i></a>
        </nav>
      </div>

      <div class="row mt-5 mb-3">
        <div class="col-12">

          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Fasten Health is in the process of implementing a customizable widget based dashboard.
            <br/>
            <ul>
              <li>Users will be able to add, remove, and re-organize widgets on their dashboard.</li>
              <li>Users will be able to create multiple dashboards, and switch between them.</li>
              <li>Users will be able to share their dashboards with other users.</li>
            </ul>
            <br/>
            <strong>This functionality is not yet available</strong>, but this example dashboard below will give you a sense of what this may look like. This dashboard only contains placeholder data.
          </div>
        </div>
      </div>

      <gridstack id="gridstack" #gridComp [options]="gridOptions">
        <gridstack-item class="grid-stack-item" gs-w="8" gs-h="5" gs-x="0" gs-y="0">
          <app-complex-line-widget></app-complex-line-widget>
        </gridstack-item>


        <gridstack-item class="grid-stack-item" gs-w="2" gs-h="2" gs-x="8" gs-y="0">
          <app-simple-line-chart-widget></app-simple-line-chart-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="2" gs-h="2" gs-x="10" gs-y="0">
          <app-simple-line-chart-widget [widgetConfig]="heightWidgetConfig"></app-simple-line-chart-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="4" gs-h="3" gs-x="8" gs-y="2">
          <app-grouped-bar-chart-widget></app-grouped-bar-chart-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="4" gs-h="5" gs-x="0" gs-y="5">
          <app-patient-vitals-widget></app-patient-vitals-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="8" gs-h="5" gs-x="4" gs-y="5">
          <app-donut-chart-widget></app-donut-chart-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="4" gs-h="2" gs-x="0" gs-y="10">
          <app-dual-gauges-widget></app-dual-gauges-widget>
        </gridstack-item>

        <gridstack-item class="grid-stack-item" gs-w="8" gs-h="4" gs-x="4" gs-y="10">
          <app-table-widget></app-table-widget>
        </gridstack-item>


        <gridstack-item *ngFor="let item of dashboardItems" class="grid-stack-item"
                        [attr.gs-w]="item.width"
                        [attr.gs-h]="item.height"
                        [attr.gs-x]="item.x"
                        [attr.gs-y]="item.y"
                        [attr.gs-min-w]="item.minWidth"
                        [attr.gs-min-h]="item.minHeight"
        >
          <app-dashboard-widget [widgetConfig]="item"></app-dashboard-widget>
        </gridstack-item>
      </gridstack>


    </div><!-- az-content-body -->
  </div>
</div><!-- az-content -->
