
<div class="az-content az-content-dashboard">
  <div class="container">
    <div class="az-content-body">
      <div class="az-dashboard-one-title">
        <div>
          <h2 class="az-dashboard-title">Welcome back!</h2>
          <p class="az-dashboard-text">Your <strong>personal</strong> electronic medical record</p>
        </div>
        <div class="az-content-header-right">
          <div class="media">
            <div class="media-body">
              <label>Last Updated</label>
              <h6>Oct 10, 2018</h6>
            </div><!-- media-body -->
          </div><!-- media -->
          <div class="media">
            <div class="media-body">
              <label>Selected Sources</label>
              <h6>All Sources</h6>
            </div><!-- media-body -->
          </div><!-- media -->
          <a [routerLink]="'/sources'" class="btn btn-purple">Add Source</a>
        </div>
      </div><!-- az-dashboard-one-title -->

      <div class="az-dashboard-nav">
        <nav class="nav">
        </nav>

        <nav class="nav">
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="far fa-save"></i> Save Report</a>
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="far fa-file-pdf"></i> Export to PDF</a>
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="far fa-envelope"></i>Send to Email</a>
          <a class="nav-link" routerLink="/" ngbTooltip="not yet implemented"><i class="fas fa-ellipsis-h"></i></a>
        </nav>
      </div>

      <!-- Summary Cards -->
      <div class="row row-sm">
        <div class="col-md-4 col-lg-4 mg-b-20 mg-md-b-0 mg-lg-b-20">
          <div class="card card-dashboard-five">
            <div class="card-header">
              <h6 class="card-title">Medical Records</h6>
              <span class="card-text">Summary of medical encounters and records stored in Fasten</span>
            </div><!-- card-header -->
            <div class="card-body row row-sm">
              <div class="col-6 d-sm-flex align-items-center">
                <div class="card-chart bg-primary">
                  <canvas baseChart class="w-50" [chartType]="'bar'" [datasets]="acquisitionOneChartData" [labels]="acquisitionOneChartLabels" [options]="acquisitionOneChartOptions" [colors]="acquisitionOneChartColors"></canvas>
                </div>
                <div>
                  <label>Encounters</label>
                  <h4>{{encounterCount}}</h4>
                </div>
              </div><!-- col -->
              <div class="col-6 d-sm-flex align-items-center">
                <div class="card-chart bg-purple">
                  <canvas baseChart class="w-50" [chartType]="'bar'" [datasets]="acquisitionTwoChartData" [labels]="acquisitionTwoChartLabels" [options]="acquisitionTwoChartOptions" [colors]="acquisitionTwoChartColors"></canvas>
                </div>
                <div>
                  <label>All Records</label>
                  <h4>{{recordsCount}}</h4>
                </div>
              </div><!-- col -->
            </div><!-- card-body -->
          </div><!-- card-dashboard-five -->
        </div><!-- col -->
        <div class="col-md-4 col-lg-4">
          <div class="card card-dashboard-five">
            <div class="card-header">
              <h6 class="card-title">Sources</h6>
              <span class="card-text"> A source is a medical provider, hospital or insurance company that Fasten can import your data from</span>
            </div><!-- card-header -->
            <div class="card-body row row-sm">
              <div class="col-6">
                <div class="d-flex align-items-center">
                  <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10 wd-50">
                    <canvas baseChart [chartType]="'doughnut'" [datasets]="sessionsChartOneData" [labels]="sessionsChartOneLabels" [options]="sessionsChartOneOptions" height="45"></canvas>
                  </div>
                  <div>
                    <label>Sources</label>
                    <h4>{{sources.length}}</h4>
                  </div>
                </div>
              </div><!-- col -->
              <div class="col-6 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10 wd-50">
                    <canvas baseChart [chartType]="'doughnut'" [datasets]="sessionsChartTwoData" [labels]="sessionsChartTwoLabels" [options]="sessionsChartTwoOptions" height="45"></canvas>
                  </div>
                  <div>
                    <label>Updates</label>
                    <h4>19</h4>
                  </div>
                </div>
              </div><!-- col -->
            </div><!-- card-body -->
          </div><!-- card-dashboard-five -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="card card-dashboard-seven">
        <div class="card-header">
          <div class="row row-sm">
            <div class="col-6 col-md-4 col-xl">
              <div class="media">
                <div ><fa-icon [icon]="['fas', 'calendar']"></fa-icon></div>
                <div class="media-body"><label >Start Date</label>
                  <div class="date"><span >Sept 01, 2018</span>
                    <a ngbTooltip="not yet implemented"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-xl">
              <div class="media">
                <div ><fa-icon [icon]="['fas', 'calendar']"></fa-icon></div>
                <div class="media-body"><label >End Date</label>
                  <div class="date"><span >Sept 30, 2018</span><a ngbTooltip="not yet implemented"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-xl mg-t-15 mg-md-t-0">
              <div class="media">
                <div ><fa-icon [icon]="['fas', 'hospital']"></fa-icon></div>
                <div class="media-body"><label >Source Type</label>
                  <div class="date"><span >All</span><a ngbTooltip="not yet implemented"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table mg-b-0">
              <tbody>
              <tr *ngFor="let source of sources" (click)="selectSource(source)" class="alert cursor-pointer" role="alert">
                <td class="align-middle">
                  <div class="media">
                    <img [src]="'assets/sources/'+source.source_type+'.png'"
                         alt="{{source.source_type}}"
                         class="mr-3"
                         style="width:100px;">
                    <div class="media-body">
                      <h5>{{metadataSource[source.source_type]?.display}}</h5>
                      <p>
                        {{getPatientSummary(patientForSource[source._id]?.resource_raw)}}
                      </p>

                    </div>
                  </div>
                </td>
                <td class="align-middle"><p><small class="tx-gray-600">status:</small><br/> {{isActive(source)}}</p></td>
                <td class="align-middle"><p><small class="tx-gray-600">last updated:</small><br/> <span [ngbTooltip]="source.updated_at | date">{{source.updated_at | amTimeAgo}}</span></p></td>
                <td class="align-middle"><p><small class="tx-gray-600">expires:</small><br/> <span [ngbTooltip]="source.expires_at | amFromUnix | date">{{source.expires_at | amFromUnix | amTimeAgo}}</span></p></td>
                <td class="align-middle"><p><i class="fas fa-chevron-right"></i></td>
              </tr>

              </tbody>
            </table>




          </div><!-- table-responsive -->
        </div>
      </div>
    </div><!-- az-content-body -->
  </div>
</div><!-- az-content -->
