<div *ngIf="loading">
  <div class="text-center mg-b-20">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>



<ng-container *ngIf="!loading" [ngTemplateOutlet]="
  widgetConfig?.item_type == 'basic_table' ? showBasicTable :
  widgetConfig?.item_type == 'calendar' ? showCalendar :
  widgetConfig?.item_type == 'line_chart' ? showLineChart :
  showEmpty
"></ng-container>

<ng-template #showBasicTable>
  <div class="card card-dashboard-eight bg-white">
    <h6 class="card-title">Your Top Countries</h6>
    <span class="d-block mg-b-20">Sales performance revenue based by country</span>

    <div class="list-group">
      <div class="list-group-item">
        <i class="flag-icon flag-icon-us flag-icon-squared"></i>
        <p>United States</p>
        <span>$1,671.10</span>
      </div><!-- list-group-item -->
      <div class="list-group-item">
        <i class="flag-icon flag-icon-nl flag-icon-squared"></i>
        <p>Netherlands</p>
        <span>$1,064.75</span>
      </div><!-- list-group-item -->
      <div class="list-group-item">
        <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
        <p>United Kingdom</p>
        <span>$1,055.98</span>
      </div><!-- list-group-item -->
      <div class="list-group-item">
        <i class="flag-icon flag-icon-ca flag-icon-squared"></i>
        <p>Canada</p>
        <span>$1,045.49</span>
      </div><!-- list-group-item -->
      <div class="list-group-item">
        <i class="flag-icon flag-icon-au flag-icon-squared"></i>
        <p>Australia</p>
        <span>$1,042.00</span>
      </div><!-- list-group-item -->
    </div><!-- list-group -->
  </div>
</ng-template>

<ng-template #showCalendar>
  <div class="card card-dashboard-calendar">
    <h6 class="card-title">Event Calendar</h6>
    <div class="media az-media-date">
      <h1>17</h1>
      <div class="media-body">
        <p>Nov 2018</p>
        <span>Saturday</span>
      </div>
    </div>
    <div class="card-body">
      <ngb-datepicker #d [startDate]="{year: 1789, month: 7}"></ngb-datepicker>
    </div>
  </div>
</ng-template>

<ng-template #showLineChart>
  <div class="card card-dashboard-two">
    <div class="card-header">
      <h6>33.50% <i class="icon ion-md-trending-up tx-success"></i> <small>18.02%</small></h6>
      <p>Bounce Rate</p>
    </div><!-- card-header -->
    <div class="card-body d-flex flex-column">
      <div class="bounce-rate-chart-wrapper mt-auto mx-auto">
        <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"></canvas>
      </div>
    </div><!-- card-body -->
  </div><!-- card -->

</ng-template>

<ng-template #showEmpty>
  <h3>Unknown widget type</h3>

  <div style="width:100%;height:100%">
    <canvas
      style="width: 100%;height:100%"
      baseChart
      [chartType]="'horizontalBar'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
    ></canvas>
  </div>

</ng-template>


