<div class="az-content-left az-content-left-components">
  <div class="component-item">
    <label>UI Elements</label>
    <nav class="nav flex-column">
      <a routerLink="/ui-elements/buttons" routerLinkActive="active" class="nav-link">Buttons</a>
      <a routerLink="/ui-elements/dropdown" routerLinkActive="active" class="nav-link">Dropdown</a>
      <a routerLink="/ui-elements/icons" routerLinkActive="active" class="nav-link">Icons</a>
    </nav>

    <label>Forms</label>
    <nav class="nav flex-column">
      <a routerLink="/form/form-elements" routerLinkActive="active" class="nav-link">Form Elements</a>
    </nav>

    <label>Charts</label>
    <nav class="nav flex-column">
      <a routerLink="/charts/chartjs" routerLinkActive="active" class="nav-link">ChartJS</a>
    </nav>

    <label>Tables</label>
    <nav class="nav flex-column">
      <a routerLink="/tables/basic-tables" routerLinkActive="active" class="nav-link">Basic Tables</a>
    </nav>
  </div><!-- component-item -->

</div><!-- az-content-left -->