######################################################################
# Version
#
# version specifies the version of this configuration file schema, not
# the fasten binary. There is only 1 version available at the moment
version: 1

web:
  listen:
    port: 8080
    host: 0.0.0.0

    # if you're using a reverse proxy like apache/nginx, you can override this value to serve fasten on a subpath.
    # eg. http://example.com/fasten/* vs http://example.com:8080
    # basepath: `/fasten`
    # leave empty unless behind a path prefixed proxy
    basepath: ''
  src:
    # the location on the filesystem where webapp javascript + css is located
    frontend:
      path: /opt/fasten/web
database:
  #  encryption:
  #    key: ''
  type: 'sqlite' # postgres will be supported in the future, but is completely **BROKEN** at the moment.
  location: '/opt/fasten/db/fasten.db' # if postgres (**BROKEN**) use a DSN, eg. `host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=required TimeZone=Asia/Shanghai`
log:
  file: '' # absolute or relative paths allowed, eg. web.log
  level: INFO
jwt:
  issuer:
    # you should ABSOLUTELY change this value before deploying Fasten.
    # TODO: in future versions, this will be generated on first run with a random value, and stored as a System Setting.
    key: "thisismysupersecuressessionsecretlength"
# mDNS service discovery settings
mdns:
  enabled: true
  name: "fasten-onprem"
  service: "_fasten-api._tcp"
  domain: "local."
  interfaces: ["eth0"]
