<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Medical Providers</h5>
          <p class=" category">
            The following medical providers have API's which Fasten can use to retrieve your medical history.
            Please click the logos below to initiate the connection.
          </p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">

            <div (click)="connect('aetna')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/aetna.png">
                <p>Aetna</p>
              </div>
            </div>


            <div (click)="connect('anthem')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/anthem.png">
                <p>Anthem</p>
              </div>
            </div>

            <div (click)="connect('cigna')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/cigna.jpg">
                <p>Cigna</p>
              </div>
            </div>

            <div (click)="connect('humana')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/humana.webp">
                <p>Humana</p>
              </div>
            </div>

            <div (click)="connect('kaiser')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/kaiser.jpg">
                <p>Kaiser</p>
              </div>
            </div>

            <div (click)="connect('united_healthcare')" class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/unitedhealthcare.jpg">
                <p>United Healthcare</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
