<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Medical Providers</h5>
          <p class=" category">
            The following medical providers have API's which Fasten can use to retrieve your medical history.
            Please click the logos below to initiate the connection.
          </p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">

            <div  class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'aetna')">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/aetna.png">
                <p>Aetna</p>
              </button>
            </div>


            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'anthem')">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/anthem.png">
                <p>Anthem</p>
              </button>
            </div>

            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'cigna')">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/cigna.jpg">
                <p>Cigna</p>
              </button>
            </div>

            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'humana')" >
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/humana.webp">
                <p>Humana</p>
              </button>
            </div>

            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'kaiser')">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/kaiser.jpg">
                <p>Kaiser</p>
              </button>
            </div>

            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button (click)="connect($event, 'united_healthcare')">
                <img class=" tim-icons icon-alert-circle-exc" src="assets/img/provider_logos/unitedhealthcare.jpg">
                <p>United Healthcare</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
