<div class="az-content-left az-content-left-components sticky-top" style="position:sticky;">
  <div class="component-item">
    <label>Connected</label>
    <nav class="nav flex-column">
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Active Sources</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Manual</a>
    </nav>
    <label>Categories</label>
    <nav class="nav flex-column">
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Hospital Networks/Clinics</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Pharmacies</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Insurers</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Laboratories</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Wearables</a>
    </nav>

    <label>Industry</label>
    <nav class="nav flex-column">
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Medical</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Dental</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Vision</a>
      <a ngbTooltip="not yet implemented" routerLinkActive="active" class="nav-link">Mental</a>
    </nav>

  </div><!-- component-item -->

</div><!-- az-content-left -->
