<div class="card card-dashboard-seven mb-3">
  <div class="card-header tx-medium">
    <div class="row" >
      <!-- Condition Header -->
      <div class="col-6">
        <span routerLink="/source/{{observations[0]?.source_id}}/resource/{{observations[0]?.source_resource_id}}">{{observationTitle}}</span>
      </div>
      <div class="col-6">
        {{observations[0] | fhirPath: "Observation.effectiveDateTime": "Observation.issued" |  date}}
      </div>
    </div>
  </div><!-- card-header -->
  <div class="card-body">

    <div class="row">
      <!-- Condition Details -->

      <div class="col-6 mb-2">

        <div class="row  pl-3">
          <div class="col-12 mt-3 mb-2">
            <p>
              <strong>Short Name:</strong> {{observations[0] | fhirPath: "Observation.code.text"}} <br/>
              <strong>Result:</strong> {{observations[0] | fhirPath: "Observation.valueQuantity.value"}} {{observations[0] | fhirPath: "Observation.valueQuantity.unit"}} <br/>
              <br/>
              <strong>Latest Test Date:</strong> {{observations[0] | fhirPath: "Observation.effectiveDateTime": "Observation.issued" |  date}} <br/>
              <strong>Ordered By:</strong> {{observations[0] | fhirPath: "Observation.encounter.display"}} <br/>
              <strong>LOINC Code:</strong> {{observationCode}} <br/>
              <strong>Notes:</strong> {{observations[0] | fhirPath: "Observation.note.text"}}
            </p>

          </div>
        </div>

      </div>
      <div class="col-6 bg-gray-100">
        <div class="row">
          <div class="col-12 mt-3">
            <p>
              <small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </small>
            </p>
          </div>

          <div class="col-12">
            <canvas baseChart [height]="chartHeight" [chartType]="'horizontalBar'" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"></canvas>
          </div>



        </div>
      </div>
    </div>


  </div><!-- card-body -->
</div>
