<div class="az-content">
  <div class="container">
    <div class="az-content-left">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item active">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Sources</span>
        <span>Aetna</span>
        <span>Details</span>
      </div>

      <h2 class="az-content-title mg-t-40">Medical Sources</h2>

      <div class="az-content-label mg-b-5">Insurance Companies</div>
      <p class="mg-b-20">The following medical insurance companies have API's which Fasten can use to retrieve your medical history.
        Please click the logos below to initiate the connection.</p>

      <div class="table-responsive">
        <table class="table table-bordered mg-b-0">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>$320,800</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>$170,750</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>$86,000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>$433,060</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>$162,700</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->
