/* ###### 8.7 Dashboard Seven  ###### */

.az-minimal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff; //#fdfdfd;

  @include media-breakpoint-only(xl) { padding: 10px 0 0; }

  .az-navbar-three {
    .nav-item {
      &.active {
        &::before { bottom: -3px; }
        .nav-link { font-weight: 700; }
      }
    }

    .nav-link { font-size: 13px; }
  }

  &.az-navbar-show {
    .az-header { z-index: auto; }
  }
}

.az-content-title-minimal {
  color: $gray-900;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 8px;

  span { font-weight: 700; }
}

.az-content-text-minimal {
  font-weight: 400;
  color: $gray-700;
  margin-bottom: 20px;
}

.media-dashboard-one {
  display: block;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: stretch;
  }

  .media-right {
    width: 100%;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) { width: 280px; }
  }

  .media-body {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.card-minimal-one {
  border-color: $gray-300;
  min-height: 320px;
  height: 100%;
  overflow: hidden;
  position: relative;

  .card-body {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5;

    > label {
      font-weight: 700;
      font-size: 14px;
      color: $az-color-primary;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block;
      line-height: 1;

      span {
        font-weight: 500;
        color: $gray-700;
      }
    }

    > small {
      font-size: 12px;
      display: block;
      color: $gray-500;
    }

    > h6 {
      color: $gray-900;
      font-size: 36px;
      font-family: 'Archivo', $font-family-base;
      font-weight: 600;
      letter-spacing: -2px;
      display: flex;
      line-height: 1;
      align-items: flex-end;
      margin: 15px 0;

      span {
        font-weight: 400;
        margin-right: 3px;
        color: $body-color;
      }
    }
  }

  .value-info {
    display: flex;
    align-items: center;

    + .value-info { margin-top: 5px; }

    p {
      margin-bottom: 0;
      color: $gray-900;
      font-weight: 700;
      font-family: 'Archivo', sans-serif;
      font-size: 14px;
      letter-spacing: -.35px;

      span {
        letter-spacing: normal;
        margin-right: 2px;
        color: $body-color;
      }
    }

    label {
      display: block;
      margin-bottom: 0;
      font-weight: 700;
      width: 40px;
      position: relative;
      top: -2px;
    }
  }

  .open-info {
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 25px;

    > div + div { margin-left: 25px; }

    label {
      font-size: 12px;
      margin-bottom: 2px;
      color: darken($gray-500, 8%);
    }

    h6 {
      margin-bottom: 0;
      color: $gray-900;
      font-family: 'Archivo', $font-family-base;
      font-weight: 700;
      font-size: 13px;

      span {
        font-weight: 400;
      }
    }
  }

  .chart-wrapper {
    position: absolute;
    left: -9px;
    right: -8px;
    bottom: -13px;

    .flot-x-axis > div {
      transform: translate(20px,-23px);
    }
  }

  .flot-chart {
    width: 100%;
    height: 250px;
    position: relative;
  }
}

.card-minimal-two {
  height: 100%;
  border-color: $gray-300;
  background-color: transparent;
  overflow: hidden;

  .card-header {
    background-color: transparent;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-300;

    @include media-breakpoint-up(sm) {
      display: flex;
      padding: 15px 20px;
    }

    > .nav {
      .nav-link {
        padding: 8px 18px;
        font-weight: 500;
        background-color: $gray-200;

        @include media-breakpoint-up(lg) { padding: 8px 20px; }
        @include media-breakpoint-up(xl) { padding: 8px 30px; }

        + .nav-link { margin-left: 2px; }

        @include hover-focus() {
          background-color: $gray-300;
        }

        &.active {
          background-color: $az-color-primary;
          color: #fff;
        }
      }
    }
  }

  .card-header-right {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include media-breakpoint-up(sm) { margin-top: 0; }

    .nav {
      justify-content: flex-end;
      width: 100%;
    }

    .nav-link {
      padding: 5px 10px;
      text-transform: capitalize;

      @include media-breakpoint-up(sm) { padding: 8px 10px; }

      + .nav-link { margin-left: 2px; }

      span:first-child {
        display: none;
        @include media-breakpoint-up(md) { display: inline; }
      }

      span:last-child {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;

        @include media-breakpoint-up(md) { display: none; }
      }

      @include hover-focus() {
        background-color: $gray-200;
      }

      &.active {
        background-color: $gray-500;
        color: #fff;
      }
    }
  }

  .card-body {
    position: relative;
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-up(lg) { padding: 0 20px; }
  }

  .flot-wrapper {
    position: relative;
    bottom: -14px;
    margin-right: -9px;
    margin-left: -31px;
    margin-top: -25px;

    @include media-breakpoint-up(lg) {
      margin-right: -9px;
      margin-left: 10px;
      margin-top: 0;
    }

    .flot-x-axis > div {
      transform: translate(22px,-23px);
    }

    .flot-y-axis > div {
      transform: translateX(-10px);
    }
  }

  .flot-chart {
    width: 100%;
    height: 250px;
    position: relative;

    @include media-breakpoint-up(lg) { height: 300px; }
  }

  .more-info {
    position: absolute;
    top: 10px;
    right: 10px;

    @include media-breakpoint-up(sm) {
      right: 20px;
      top: 30px;
    }

    @include media-breakpoint-up(lg) {
      right: 30px;
      top: 50px;
    }

    div {
      display: flex;
      align-items: flex-start;
      font-size: 13px;
    }

    span:first-child {
      width: 80px;
      text-align: right;
      color: $gray-600;
      display: block;
      line-height: 1.35;
    }

    span:last-child {
      margin-left: 15px;
      color: $gray-900;
      font-weight: 700;
      font-family: 'Archivo', $font-family-base;
      font-size: 14px;
    }
  }

  .card-footer {
    padding: 20px;
    position: relative;
    z-index: 2;
    overflow-y: hidden;
    width: calc(100vw - 40px);
    margin-bottom: -8px;

    @include media-breakpoint-up(lg) { width: auto; }

    .media-icon {
      color: #f7931a;
      font-size: 42px;
      line-height: 0;
    }

    .media-body {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .row {
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x: auto;

      > div { flex-shrink: 0; }
    }

    label {
      margin-bottom: 2px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
      letter-spacing: .5px;
      color: $gray-600;
    }

    p {
      margin-bottom: 0;
      color: $gray-900;
      font-weight: 700;
      font-size: 16px;
      font-family: 'Archivo', $font-family-base;
    }
  }
}

.card-minimal-three {
  border-color: $gray-300;
  width: calc(100vw - 38px);

  @include media-breakpoint-up(lg) { width: 634px; }
  @include media-breakpoint-up(xl) { width: 753px; }

  .card-header {
    border-bottom: 1px solid $gray-300;
    background-color: transparent;
    padding: 20px 20px 0;

    .az-content-text { margin-bottom: 20px; }
  }

  .az-nav-tabs {
    padding: 0;
    background-color: transparent;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 3px;

    .lSAction > a {
      background-color: $gray-300;

      &::before { top: -4px; }
      &.lSPrev { left: -35px; }
    }

    .tab-item {
      min-width: 203px;
      @include media-breakpoint-up(sm) { min-width: 150px; }
    }

    .tab-link {
      background-color: $gray-200;
      font-weight: 500;
      align-items: flex-start;
      padding-top: 8px;
      @include hover() { background-color: $gray-300; }

      &.active {
        &,
        &:hover,
        &:focus {
          background-color: $gray-700; //$az-color-primary;
          color: #fff;
        }
      }
    }
  }

  .card-body { padding: 0; }

  .tab-pane-header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid $gray-300;

    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .az-content-label { margin-bottom: 3px; }

    > div:last-child {
      display: flex;
      margin-top: 15px;

      a { flex: 1; }
      a + a { margin-left: 10px; }
    }
  }

  .tab-pane-body {
    padding: 20px;

    .table {
      thead tr,
      tbody tr {
        th,
        td { white-space: nowrap; }
      }
    }
  }

  .no-transactions-panel {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon-wrapper {
      width: 80px;
      height: 80px;
      background-color: $gray-200;
      color: $gray-500;
      font-size: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      @include border-radius(100%);

      i { line-height: 0; }
    }

    h6 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: $gray-900;
      letter-spacing: 1px;
      margin-bottom: 2px;
    }
  }

  .table {
    tbody tr {
      td {
        vertical-align: middle;

        span {
          display: block;
          width: 8px;
          height: 8px;
          @include border-radius(100%);
        }

        &:last-child {
          font-weight: 500;
          color: $gray-900;
        }
      }
    }
  }
}

.card-crypto-portfolio {
  width: 100%;
  border-color: $gray-300;
  margin-top: 20px;

  @include media-breakpoint-up(lg) {
    width: calc(33.33333% - 13px);
    margin-top: 0;
  }

  .card-title {
    text-transform: uppercase;
  }

  .table {
    margin-bottom: 0;

    thead tr,
    tbody tr {
      th,
      td {
        padding: 10px 0;
        text-align: right;
        white-space: nowrap;

        &:first-child {
          text-align: left;
        }
      }
    }

    thead tr th { font-size: 10px; }

    tbody tr td:first-child {
      font-weight: 500;
      color: $gray-900;
    }
  }
}

.card-minimal-four {
  border-color: $gray-300;

  .card-header {
    background-color: transparent;
    border-bottom: 1px solid $gray-300;

    h6 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 2px;
      color: $gray-900;
    }

    p {
      margin-bottom: 0;
      white-space: nowrap;

      span { color: $red; }
    }

    .media { align-items: center; }
    .media-body { margin-left: 12px; }
  }

  .coin-logo {
    width: 42px;
    height: 42px;
    color: #fff;
    @include border-radius(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    i { line-height: 0; }
  }

  .card-body {
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: #fcfcfc;
  }

  .card-body-top {
    top: 15px;
    left: 10px;
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 10;

    a {
      color: $gray-900;
      font-weight: 700;
      width: 20px;
      text-align: right;
      display: inline-block;

      @include hover-focus() { color: $blue; }
    }

    div + div { margin-top: 5px; }
  }

  .chart-wrapper {
    position: relative;
    margin-left: -20px;
    margin-right: -9px;
    margin-bottom: -17px;
  }

  .flot-chart {
    width: 100%;
    height: 150px;
  }

  .card-footer {
    background-color: transparent;
    border-top-color: $gray-300;
    padding: 0;

    .nav-link {
      flex: 1;
      display: block;
      text-align: center;
      background-color: $gray-200;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;

      @include hover-focus() {
        background-color: darken($gray-100, 2%);
      }

      span {
        display: block;

        &:first-child {
          color: $gray-500;
          font-weight: 700;
          font-size: 11px;
        }

        &:last-child {
          color: $body-color;
          font-weight: 500;
          font-size: 11px;
          font-family: 'Archivo', $font-family-base;
        }
      }

      + .nav-link { border-left: 1px solid $gray-300; }

      &.active {
        background-color: #fcfcfc;

        &::before {
          content: '';
          position: absolute;
          top: -1px;
          left: 0;
          right: 0;
          border-top: 1px solid #f7f7f7;
          z-index: 5;
        }

        span:first-child { color: $gray-900; }
      }
    }
  }
}
