<div class="card card-table-one">
  <h6 class="card-title">Recent Encounters</h6>
  <p class="az-content-text mg-b-20">Recent interactions with healthcare providers</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="wd-5p">&nbsp;</th>
        <th class="wd-45p">Institution</th>
        <th>Date</th>
        <th>Records</th>
        <th>Conditions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><i class="flag-icon flag-icon-us flag-icon-squared"></i></td>
        <td><strong>Yale New Haven</strong></td>
        <td><strong>May 2, 2022</strong></td>
        <td>12</td>
        <td>1 new</td>
      </tr>
      <tr>
        <td><i class="flag-icon flag-icon-gb flag-icon-squared"></i></td>
        <td><strong>Jackson Memorial Hospital</strong></td>
        <td><strong>May 1, 2022</strong></td>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td><i class="flag-icon flag-icon-in flag-icon-squared"></i></td>
        <td><strong>AdventHealth Orlando</strong></td>
        <td><strong>Jan 19, 2022</strong></td>
        <td>23</td>
        <td>3 new</td>
      </tr>
      <tr>
        <td><i class="flag-icon flag-icon-ca flag-icon-squared"></i></td>
        <td><strong>Cleveland Clinic</strong></td>
        <td><strong>Dec 11, 2019</strong></td>
        <td>45</td>
        <td>1 new</td>
      </tr>
      <tr>
        <td><i class="flag-icon flag-icon-fr flag-icon-squared"></i></td>
        <td><strong>Mayo Clinic</strong></td>
        <td><strong>Dec 10, 2019</strong></td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td><i class="flag-icon flag-icon-ph flag-icon-squared"></i></td>
        <td><strong>Ascension Saint Thomas Hospital</strong></td>
        <td><strong>Dec 9, 2019</strong></td>
        <td>44</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div><!-- table-responsive -->
</div><!-- card -->
