<div class="card card-dashboard-two h-100">
  <div class="card-header">
    <h6>65 kg <i class="icon ion-md-trending-up tx-success"></i> <small>18.02%</small></h6>
    <p>{{widgetConfig?.title_text}}</p>
  </div><!-- card-header -->
  <div class="card-body d-flex flex-column">
    <div class="bounce-rate-chart-wrapper mt-auto mx-auto" style="position: relative; height:80%; width:100%">
      <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"></canvas>
    </div>
  </div><!-- card-body -->
</div><!-- card -->
