<div class="az-content">
  <div class="container">
    <app-components-sidebar></app-components-sidebar>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Medical Sources</span>
      </div>

      <h2 class="az-content-title">Connected Sources</h2>

      <div class="row">
        <div *ngFor="let sourceInfo of connectedSourceList" class="col-sm-3 mg-b-20 px-3">
          <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0 cursor-pointer">
            <div (click)="openModal(contentModalRef, sourceInfo)" class="card-body">
              <img [src]="'assets/sources/'+sourceInfo.metadata['source_type']+'.png'" alt="client" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <h2 class="az-content-title mg-t-40">Medical Record Sources</h2>

      <div class="az-content-label mg-b-5">Manual Upload</div>
      <p class="mg-b-20">Fasten also supports manually uploaded electronic medical records (EMR). Click below to upload.</p>

      <div class="row row-sm">
        <div class="col-lg">
          <ngx-dropzone [multiple]="false" (change)="uploadSourceBundle($event)">
            <ngx-dropzone-label>Select your EMR bundle</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of uploadedFile" [removable]="false">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div><!-- col -->
      </div><!-- row -->

      <hr class="mg-y-30">

      <div class="az-content-label mg-b-5">Healthcare Companies</div>
      <p class="mg-b-20">The following medical companies have API's which Fasten can use to retrieve your medical history.
        Please click the logos below to initiate the connection.</p>

      <div class="row row-sm">


        <div *ngFor="let sourceData of availableSourceList" (click)="connect($event, sourceData['source_type'])" class="col-sm-3 mg-b-20 px-3">
          <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0 cursor-pointer" [ngClass]="{'card-disable': !sourceData.enabled}">
            <div class="card-body">
              <img [src]="'assets/sources/'+sourceData['source_type']+'.png'" [alt]="metadataSources[sourceData['source_type']].display" class="img-fluid">

              <div *ngIf="status[sourceData['source_type']]" class="progress">
                <div [style.width]="status[sourceData['source_type']] == 'authorize' ? '33%' : '66%'" class="bg-indigo progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- row -->

      <div class="ht-40"></div>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->

<ng-template #contentModalRef let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalSourceInfo.metadata["display"]}}</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <h6>Manage Source</h6>
    <p>Existing connections can be "Synced", "Reconnected" or "Deleted"</p>
    <ul>
      <li><p><strong>Sync</strong> - Download all resources from this healthcare provider, storing them securely in Fasten</p></li>
      <li><p><strong>Reconnect</strong> - If your healthcare connection has expired, you can use this button to reconnect</p></li>
      <li><p><strong>Delete</strong> - Delete all resources for this healthcare provider. This will ONLY effect data stored in Fasten</p></li>
    </ul>
  </div>

  <div class="modal-footer">
    <button (click)="syncSource(modalSourceInfo.source)" type="button" class="btn btn-indigo">Sync</button>
    <button (click)="connect($event, modalSourceInfo.source['source_type'])" type="button" class="btn btn-outline-light">Reconnect</button>
    <button type="button" class="btn btn-outline-danger">Delete</button>
    <button (click)="modal.dismiss('Close click')" type="button" class="btn btn-outline-light">Close</button>
  </div>
</ng-template>
