<div class="az-content">
  <div class="container">
    <app-medical-sources-filter [categories]="resultLimits.categoryBuckets" [platformTypes]="resultLimits.platformTypesBuckets"></app-medical-sources-filter>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Medical Sources</span>
      </div>

      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Work-in-Progress!</strong> Some sources may not be implemented correctly.
        Some sources may require frequent re-connection, as background refresh has not been implemented yet.
        <br/>
        If you have feedback regarding healthcare sources, please <a href="https://github.com/fastenhealth/fasten-onprem/issues">file a ticket <i class="fab fa-github"></i></a>

        <span *ngIf="environment_name == 'sandbox'">
          <br/>
          <br/>
        In <strong>Sandbox mode</strong> Fasten Health cannot access real patient information. You must use Sandbox credentials when authenticating to healthcare sources.
          <a href="https://github.com/fastenhealth/docs/blob/main/BETA.md#connecting-a-new-source">These credentials are available on Github</a>
        </span>
      </div>

      <app-medical-sources-connected></app-medical-sources-connected>


      <h2 class="az-content-title mg-t-40">Medical Record Sources</h2>

      <div class="az-content-label mg-b-5">Manual Upload</div>
      <p class="mg-b-20">Fasten also supports manually uploaded electronic medical records (EMR/EHR). Click below to upload.</p>

      <div class="row row-sm">
        <div class="col-lg">
          <ngx-dropzone [multiple]="false" (change)="uploadSourceBundleHandler($event)" accept=".json">
            <ngx-dropzone-label>Select your EMR/EHR bundle. Must be in JSON format</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of uploadedFile" [removable]="false">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div><!-- col -->
      </div><!-- row -->

      <hr class="mg-y-30">

      <div class="az-content-label mg-b-5">Healthcare Companies</div>
      <p class="mg-b-20">The following medical companies have API's which Fasten can use to retrieve your medical history.
        Please click the logos below to initiate the connection.</p>

      <!-- Search -->
      <div class="row row-sm sticky-top pt-2" style="position:sticky;">
        <div class="col-lg-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search-prefix">Search</span>
            </div>
            <input [ngModel]="searchTermUpdate | async" (keyup)="searchTermUpdate.next($event.target.value)" type="text" class="form-control" placeholder="Search Term">
            <div class="input-group-append">
              <span class="input-group-text">{{this.availableSourceList.length}} of {{this.resultLimits.totalItems}} results</span>
            </div>

          </div><!-- input-group -->
        </div><!-- col -->
      </div>


      <div *ngIf="!loading || availableSourceList.length > 0 else isLoadingTemplate" class="row row-sm"
           infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="50"
           (scrolled)="onScroll()"
      >

        <app-medical-sources-card class="col-sm-3 mg-b-20 px-3"
          *ngFor="let sourceData of availableSourceList"
          [sourceInfo]="sourceData"
          [status]="status[sourceData.metadata.source_type]"
          (onClick)="connectModalHandler(contentModalRef, $event)"
        ></app-medical-sources-card>

      </div><!-- row -->

      <div class="ht-40"></div>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->


<ng-template #contentModalRef let-modal>

  <div class="modal-header">
    <div class="media">
      <img class="modal-header-media-image mg-sm-r-20 mg-b-20 mg-sm-b-0" [src]="'assets/sources/'+(modalSelectedSourceListItem?.metadata.brand_logo ? modalSelectedSourceListItem?.metadata?.brand_logo : modalSelectedSourceListItem?.metadata?.source_type+'.png')" [alt]="modalSelectedSourceListItem?.metadata?.display">
      <div class="media-body">
        <h6>{{modalSelectedSourceListItem?.metadata.display}}</h6>
        <a *ngIf="modalSelectedSourceListItem?.metadata.patient_access_url"
           [href]="modalSelectedSourceListItem.metadata?.patient_access_url"
            target="_blank"
           class="mg-b-0">{{modalSelectedSourceListItem?.metadata.patient_access_url | shortDomain}}</a>
      </div><!-- media-body -->
    </div><!-- media -->
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <h6>Connect Source</h6>
    <p>Would you like to connect this healthcare institution with Fasten Health? You will be redirected to their patient portal,
      where you can authenticate and select data to import into Fasten Health.
    </p>
    <p>
      If the data about this institution is missing or incorrect, you can <a class="link" href="https://docs.google.com/spreadsheets/d/1ZSgwfd7kwxSnimk4yofIFcR8ZMUls0zi9SZpRiOJBx0/edit?usp=sharing">click here</a> to submit a correction.
    </p>

    <ng-container *ngIf="modalSelectedSourceListItem?.metadata?.category?.length > 0 || modalSelectedSourceListItem?.metadata?.patient_access_description">
      <hr/>
      <ng-container *ngIf="modalSelectedSourceListItem?.metadata?.patient_access_description">
        <h6>About this Source</h6>
        <p >{{modalSelectedSourceListItem?.metadata?.patient_access_description}}</p>
      </ng-container>
      <ng-container *ngIf="modalSelectedSourceListItem?.metadata?.category?.length > 0">
        <h6>Categories</h6>
        <ul>
          <li *ngFor="let cat of modalSelectedSourceListItem?.metadata?.category">{{cat | medicalSourcesCategoryLookup}}</li>
        </ul>
      </ng-container>
    </ng-container>
  </div>

  <div class="modal-footer">
<!--    <button (click)="sourceSyncHandler(modalSelectedSourceListItem.source)" type="button" class="btn btn-indigo">Sync</button>-->
    <!--    <button (click)="connectHandler($event, modalSelectedSourceListItem.source['source_type'])" type="button" class="btn btn-outline-light">Reconnect</button>-->
    <button type="button" (click)="connectHandler($event, modalSelectedSourceListItem)" class="btn btn-indigo">
      <span *ngIf="status[modalSelectedSourceListItem?.metadata?.source_type] == 'authorize'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Connect
    </button>
    <button (click)="modal.dismiss('Close click')" type="button" class="btn btn-outline-light">Close</button>
  </div>
</ng-template>


<ng-template #isLoadingTemplate>
  <div class="row">
    <div class="col-12">
      <app-loading-spinner [loadingTitle]="'Please wait, loading sources...'"></app-loading-spinner>
    </div>
  </div>
</ng-template>
