<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <!-- Header Row -->
      <report-header [reportHeaderTitle]="'Medical History'"></report-header>

      <!-- Conditions Title -->
      <div class="row mt-5 mb-3">
        <div class="col-6">
          <h1>Condition</h1>
        </div>
        <div class="col-6 tx-indigo">
          <h1>History</h1>
        </div>
      </div>

      <!-- Editor Button -->
      <div class="row">
        <div class="col-6 d-flex align-items-center">

          <button class="btn btn-lg btn-primary" (click)="openEditorRelated()">Launch Editor</button>
        </div>
      </div>

      <!-- Condition List -->
      <div *ngFor="let condition of conditions; let i = index">
        <div class="row bg-indigo tx-white pt-1 pb-1">
          <!-- Condition Header -->
          <div class="col-6 d-flex align-items-center">
            <h3 class="mb-0">{{condition | fhirPath: "Condition.code.text.first()":"Condition.code.coding.display.first()"}}</h3>
          </div>
          <div class="col-6 d-flex align-items-center">
            <h3 class="mb-0">{{condition | fhirPath: "Condition.onsetPeriod.start":"Condition.onsetDateTime" | date }} - {{condition | fhirPath: "Condition.onsetPeriod.end" | date}}</h3>
          </div>
        </div>

        <div class="row">
          <!-- Condition Details -->

          <div class="col-6 mb-2">

            <div class="row  pl-3">
              <div class="col-12 mt-3 mb-2 tx-indigo">
                <h5>Involved in Care</h5>
              </div>

              <ng-container *ngFor="let careTeam of condition.related_resources | filter:'source_resource_type':'CareTeam'">
                <div class="col-6">
                  <strong>{{careTeam | fhirPath: "CareTeam.participant.member.display"}}</strong>
                </div>
                <div class="col-6">
                  {{careTeam | fhirPath: "CareTeam.participant.role.text"}}
                </div>
              </ng-container>

              <ng-container *ngFor="let encounter of condition.related_resources | filter:'source_resource_type':'Encounter'">
                <ng-container *ngFor="let careTeam of encounter.related_resources | filter:'source_resource_type':'CareTeam'">
                  <div class="col-6">
                    <strong>{{careTeam | fhirPath: "CareTeam.participant.member.display"}}</strong>
                  </div>
                  <div class="col-6">
                    {{careTeam | fhirPath: "CareTeam.participant.role.text"}}
                  </div>
                </ng-container>
              </ng-container>

              <div class="col-12  mt-3 mb-2 tx-indigo">
                <h5>Initial Presentation</h5>
              </div>
              <div class="col-12">
                Acute right knee pain and tenderness around the joint line - this was likely caused by acute renal failure.
              </div>
            </div>



          </div>
          <div class="col-6 mb-2 bg-gray-100">
            <div class="row">
              <ng-container *ngFor="let encounter of condition.related_resources | filter:'source_resource_type':'Encounter'">
                <div class="col-6 mt-3 mb-2 tx-indigo">
                  <h5>{{encounter | fhirPath: "Encounter.period.start" | date}}</h5>
                </div>
                <div class="col-6 mt-3 mb-2">
                  <small>{{encounter | fhirPath: "Encounter.location.first().location.display"}}</small>
                </div>


                <div class="col-12 mt-2 mb-2" *ngFor="let medications of encounter.related_resources | filter:'source_resource_type':'MedicationRequest'">
                  <strong>Medications:</strong> {{medications | fhirPath: "MedicationRequest.medicationReference.display"}} <br/>
                </div>

                <div class="col-12 mt-2 mb-2" *ngFor="let procedure of encounter.related_resources | filter:'source_resource_type':'Procedure'">
                  <strong>Procedures:</strong> {{procedure | fhirPath: "Procedure.code.text"}} <br/>
                </div>

                <div class="col-12 mt-2 mb-2" *ngFor="let diagnosticReport of encounter.related_resources | filter:'source_resource_type':'DiagnosticReport'">
                  <strong>Tests and Examinations:</strong> {{diagnosticReport | fhirPath: "DiagnosticReport.code.text"}} <br/>
                </div>

                <div class="col-12 mt-2 mb-2" *ngFor="let device of encounter.related_resources | filter:'source_resource_type':'Device'">
                  <strong>Device:</strong> {{device | fhirPath: "Device.code.text"}} <br/>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
