<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <!-- Header Row -->
      <report-header [reportHeaderTitle]="'Medical History'"></report-header>


      <!-- Editor Button -->
      <div class="row mt-5 mb-3">
        <div class="col-12">

          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Fasten has detected medical Encounters that are not associated with a Condition.
            They are grouped under the "Unassigned" section below.
            <br/>
            You can re-organize your conditions & encounters by using the <a class="alert-link cursor-pointer" (click)="openEditorRelated()">report editor</a>
          </div>
        </div>
      </div>

      <!-- Conditions Title -->
      <div class="row mt-5 mb-3">
        <div class="col-6">
          <h1 class="az-dashboard-title">Condition</h1>
        </div>
      </div>

      <!-- Condition List -->
      <app-report-medical-history-condition *ngFor="let condition of conditions; let i = index" [condition]="condition"></app-report-medical-history-condition>
    </div>
  </div>
</div>
