<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <!-- Header Row -->
      <report-header [reportHeaderTitle]="'Medical History'"></report-header>

      <!-- Conditions Title -->
      <div class="row mt-5 mb-3">
        <div class="col-6">
          <h1>Condition</h1>
        </div>
        <div class="col-6 tx-indigo">
          <h1>History</h1>
        </div>
      </div>

      <!-- Editor Button -->
      <div class="row">
        <div class="col-6 d-flex align-items-center">

          <button class="btn btn-lg btn-primary" (click)="openEditorRelated()">Launch Editor</button>
        </div>
      </div>

      <!-- Condition List -->
      <app-medical-history-condition *ngFor="let condition of conditions; let i = index" [condition]="condition"></app-medical-history-condition>
    </div>
  </div>
</div>
