<div class="modal-header">
  <h4 class="modal-title"> Medical Record Wizard</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>Manual Entry</strong> If you're unable to automatically retrieve your health records, you can manually enter them using this form.
        <br/>Simply fill in the required information to ensure your records are up-to-date.
      </div>
    </div>
  </div>



  <div>
    <form class="d-flex" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column col-lg-2 col-md-4 bg-gray-200 pd-20" orientation="vertical">
      <ng-container ngbNavItem="visit">
        <a class="nav-link" ngbNavLink>Visit</a>
        <ng-template ngbNavContent>
          <p>
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
            salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </p>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="medications">
        <a class="nav-link" ngbNavLink>Medications</a>
        <ng-template ngbNavContent>

          <div>
            <h6 class="card-title">Medications</h6>
            <p class="card-text">
              Medications are a type of treatment, usually in the form of pills, liquids, or injections, prescribed by doctors to help your body fight off illnesses, manage symptoms, or improve overall health.
            </p>
          </div>

          <ng-container formArrayName="medications">
            <div class="card mg-t-10 pd-20" [formGroup]="medicationGroup" *ngFor="let medicationGroup of medications.controls; let i = index">
              <div *ngIf="debugMode" class="alert alert-warning">
                <strong>Medication Status: {{medicationGroup.status}}</strong>
              </div>
              <div class="tx-right">
                <span class="cursor-pointer" (click)="deleteMedication(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
              </div>
              <div class="row row-sm">
                <div class="col-lg-6">
                  <p class="mg-b-10">Medication name<span ngbTooltip="required" class="text-danger">*</span></p>
                  <app-nlm-typeahead formControlName="data" searchType="Medication" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Status<span ngbTooltip="required" class="text-danger">*</span></p>
                  <select formControlName="status" class="form-control">
                    <option value="" hidden selected>Select Status</option>
                    <option value="active">Active</option>
                    <option value="stopped">Stopped</option>
                  </select>                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Dosage</p>
                  <input formControlName="dosage" class="form-control" placeholder="Input box" type="text">
                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Started<span ngbTooltip="required" class="text-danger">*</span></p>
                  <input formControlName="started" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()">
                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Stopped</p>
                  <input [minDate]="medicationGroup.get('started').value" formControlName="stopped" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dstop="ngbDatepicker" (click)="dstop.toggle()">
                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Why Stopped</p>
                  <app-nlm-typeahead formControlName="whystopped" searchType="MedicationWhyStopped" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Prescribing Practitioner<span ngbTooltip="required" class="text-danger">*</span></p>
                  <select class="form-control" formControlName="requester">
                    <option value="" hidden selected>Select Practitioner</option>
<!--                    <option value="" (click)="openPractitionerModal(practitionerCreateModal, medicationGroup, 'requester')">New Practitioner</option>-->
                    <optgroup *ngIf="practitioners.controls.length" class="divider"></optgroup>
                    <option *ngFor="let practitioner of practitioners.controls; let i = index" [value]="practitioner.value.id">
                      {{practitioner.value.name}} ({{practitioner.value.profession.text}})
                    </option>
                  </select>
                </div><!-- col -->
              </div><!-- row -->
              <div class="row row-sm mg-t-20">
                <div class="col-lg">
                  <p class="mg-b-10">Instructions</p>
                  <textarea formControlName="instructions" rows="3" class="form-control" placeholder="Textarea"></textarea>
                </div><!-- col -->
              </div><!-- row -->
              <div class="row row-sm mg-t-20">
                <div class="col-12 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Attachments</p>
                </div><!-- col -->
                <div class="col-1">
<!--                  <button type="button" (click)="openAttachmentModal(attachmentCreateModal, medicationGroup, 'attachments')" class="btn btn-indigo btn-with-icon">-->
<!--                    <i class="fas fa-paperclip"></i> Add-->
<!--                  </button>-->
                </div>
                <div class="col-11">
<!--                  <ng-select class="ng-select-form-control" [readonly]="!attachments.controls.length" appendTo="body" formControlName="attachments" placeholder="Select Attachment" [multiple]="true" [hideSelected]="true">-->
<!--                    <ng-option *ngFor="let attachment of attachments.controls; let i = index" [value]="attachment.value.id">{{attachment.value.name}} ({{attachment.value.file_name}})</ng-option>-->
<!--                  </ng-select>-->
                </div>
              </div>
            </div>
          </ng-container>
          <div class="row pt-2">
            <div class="col-lg-4 col-md-3">
              <button type="button" (click)="addMedication()" class="btn btn-outline-indigo btn-block">Add Medication</button>
            </div>
          </div>

        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="procedures">
        <a class="nav-link" ngbNavLink>Procedures</a>
        <ng-template ngbNavContent>
          <div>
            <h6 class="card-title">Major Surgeries and Implants</h6>
            <p class="card-text">
              Surgery is a medical procedure where doctors use special tools to fix, remove, or improve something inside your body to help you feel better or get healthier.
            </p>
          </div>

          <ng-container formArrayName="procedures">
            <div class="card mg-t-10 pd-20" [formGroup]="procedureGroup" *ngFor="let procedureGroup of procedures.controls; let i = index">
              <div *ngIf="debugMode" class="alert alert-warning">
                <strong>Procedure Status: {{procedureGroup.status}}</strong>
              </div>
              <div class="tx-right">
                <span class="cursor-pointer" (click)="deleteProcedure(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
              </div>
              <div class="row row-sm">
                <div class="col-lg-8">
                  <p class="mg-b-10">Surgery or Implant<span ngbTooltip="required" class="text-danger">*</span></p>
                  <app-nlm-typeahead formControlName="data" searchType="Procedure" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg-4 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">When done<span ngbTooltip="required" class="text-danger">*</span></p>
                  <input formControlName="whendone" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dwd="ngbDatepicker" (click)="dwd.toggle()">
                </div><!-- col -->
                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Performed By</p>
                  <select class="form-control" formControlName="performer">
                    <option value="" hidden selected>Select Practitioner</option>
<!--                    <option value="" (click)="openPractitionerModal(practitionerCreateModal, procedureGroup, 'performer')">New Practitioner</option>-->
                    <optgroup *ngIf="practitioners.controls.length" class="divider"></optgroup>
                    <option *ngFor="let practitioner of practitioners.controls; let i = index" [value]="practitioner.value.id">
                      {{practitioner.value.name}} ({{practitioner.value.profession.text}})
                    </option>
                  </select>
                </div><!-- col -->
                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Location</p>
                  <select class="form-control" formControlName="location">
                    <option value="" hidden selected>Select Location</option>
<!--                    <option value="" (click)="openOrganizationModal(organizationCreateModal, procedureGroup, 'location')">New Organization</option>-->
                    <optgroup *ngIf="organizations.controls.length" class="divider"></optgroup>
                    <option *ngFor="let organization of organizations.controls; let i = index" [value]="organization.value.id">
                      {{organization.value.name}} ({{organization.value.address}})
                    </option>
                  </select>
                </div><!-- col -->
                <div class="col-lg-12 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Comments</p>
                  <textarea formControlName="comment" class="form-control" placeholder="Input box" rows="3"></textarea>
                </div><!-- col -->
              </div><!-- row -->
              <div class="row row-sm mg-t-20">
                <div class="col-12 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Attachments</p>
                </div><!-- col -->

                <div class="col-1">
<!--                  <button type="button" (click)="openAttachmentModal(attachmentCreateModal, procedureGroup, 'attachments')" class="btn btn-indigo btn-with-icon">-->
<!--                    <i class="fas fa-paperclip"></i> Add-->
<!--                  </button>-->
                </div>
                <div class="col-11">
                  <ng-select class="ng-select-form-control" [readonly]="!attachments.controls.length" formControlName="attachments" placeholder="Select Attachment" [multiple]="true" [hideSelected]="true">
                    <ng-option *ngFor="let attachment of attachments.controls; let i = index" [value]="attachment.value.id">{{attachment.value.name}} ({{attachment.value.file_name}})</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </ng-container>


          <div class="row pt-2">
            <div class="col-lg-4 col-md-3">
              <button type="button" (click)="addProcedure()" class="btn btn-outline-indigo btn-block">Add Surgery or Implant</button>
            </div>
          </div>


        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="practitioners">
        <a class="nav-link" ngbNavLink>Practitioners</a>
        <ng-template ngbNavContent>
          <div>
            <h6 class="card-title">Medical Practitioners</h6>
            <p class="card-text">Practitioners involved in the care of the patient.</p>
          </div>

          <ng-container formArrayName="practitioners">
            <div class="card mg-t-10 pd-20" [formGroup]="practitionerGroup" *ngFor="let practitionerGroup of practitioners.controls; let i = index">
              <div *ngIf="debugMode" class="alert alert-warning">
                <strong>Practitioner Status: {{practitionerGroup.status}}</strong>
              </div>
              <div class="tx-right">
                <span class="cursor-pointer" (click)="deletePractitioner(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
              </div>

              <div class="row row-sm">
                <input formControlName="id" class="form-control" type="hidden">

                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
                  <input formControlName="name" class="form-control" readonly placeholder="Input box" type="text">
                </div><!-- col -->
                <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Type<span ngbTooltip="required" class="text-danger">*</span></p>
                  <app-nlm-typeahead formControlName="profession"  searchType="MedicalContactIndividualProfession" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Telephone</p>
                  <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Fax</p>
                  <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Email</p>
                  <input formControlName="email" class="form-control" placeholder="email@example.com" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Address</p>
                  <input formControlName="address" class="form-control" placeholder="Input box" type="text">
                </div><!-- col -->

              </div><!-- row -->

            </div>
          </ng-container>

          <div class="row pt-2">
            <div class="col-lg-4 col-md-4">
              <button type="button" (click)="openPractitionerModal()" class="btn btn-outline-indigo btn-block">Add Practitioner</button>
            </div>
          </div>

        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="organizations">
        <a class="nav-link" ngbNavLink>Organizations</a>
        <ng-template ngbNavContent>
          <div>
            <h6 class="card-title">Medical Location/Organizations</h6>
            <p class="card-text">Locations and Organizations involved in the care of the patient.
            </p>
          </div>

          <ng-container formArrayName="organizations">
            <div class="card mg-t-10 pd-20" [formGroup]="organizationGroup" *ngFor="let organizationGroup of organizations.controls; let i = index">
              <div *ngIf="debugMode" class="alert alert-warning">
                <strong>Organization Status: {{organizationGroup.status}}</strong>
              </div>
              <div class="tx-right">
                <span class="cursor-pointer" (click)="deleteOrganization(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
              </div>

              <div class="row row-sm">
                <input formControlName="id" class="form-control" type="hidden">

                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
                  <input formControlName="name" readonly class="form-control" placeholder="Input box" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Type</p>
                  <app-nlm-typeahead formControlName="type" searchType="MedicalContactOrganizationType" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Telephone</p>
                  <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Fax</p>
                  <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Email</p>
                  <input formControlName="email" class="form-control" placeholder="email@example.com" type="text">
                </div><!-- col -->

              </div><!-- row -->

            </div>
          </ng-container>

          <div class="row pt-2">
            <div class="col-lg-4 col-md-4">
              <button type="button" (click)="openOrganizationModal()" class="btn btn-outline-indigo btn-block">Add Organization</button>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="labresults">
        <a class="nav-link" ngbNavLink>Lab Results</a>
        <ng-template ngbNavContent>
          <p>
            Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
            facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
            congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
            et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
            faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
            aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
          </p>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="attachments">
        <a class="nav-link" ngbNavLink>Attachments</a>
        <ng-template ngbNavContent>
          <div>
            <h6 class="card-title">Notes & Attachments</h6>
            <p class="card-text">
              Files and notes related to medications, procedures, or the current condition.
            </p>
          </div>

          <ng-container formArrayName="attachments">
            <div class="card mg-t-10 pd-20" [formGroup]="attachmentGroup" *ngFor="let attachmentGroup of attachments.controls; let i = index">
              <div *ngIf="debugMode" class="alert alert-warning">
                <strong>Attachment Status: {{attachmentGroup.status}}</strong>
              </div>
              <div class="tx-right">
                <span class="cursor-pointer" (click)="deleteAttachment(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
              </div>

              <div class="row row-sm">
                <input formControlName="id" class="form-control" type="hidden">

                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
                  <input formControlName="name" readonly class="form-control" placeholder="Input box" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">Category</p>
                  <app-nlm-typeahead formControlName="category" searchType="AttachmentCategory" [debugMode]="debugMode"></app-nlm-typeahead>
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                  <p class="mg-b-10">File Type</p>
                  <input readonly class="form-control" formControlName="file_type"/>
                </div><!-- col -->
              </div><!-- row -->

            </div>
          </ng-container>

          <div class="row pt-2">
            <div class="col-lg-4 col-md-3">
              <button type="button" (click)="openAttachmentModal()" class="btn btn-outline-indigo btn-block">Create Attachment/Document</button>
            </div>
          </div>

        </ng-template>
      </ng-container>
    </div>
      <div [ngbNavOutlet]="nav" class="col-lg-10 col-md-8"></div>
    </form>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-2">-->
<!--      <div class="pd-20 bg-gray-200">-->
<!--        <nav class="nav nav-pills flex-column">-->
<!--          <a class="nav-link active" data-bs-toggle="tab" href="#">Visit</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Medications</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Procedures</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Practitioners</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Organizations</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Lab Results</a>-->
<!--          <a class="nav-link" data-bs-toggle="tab" href="#">Attachments</a>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-10">-->
<!--      <span>BODY CONTENT</span>-->
<!--    </div>-->
<!--  </div>-->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-indigo" >Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


