<div class="card card-dashboard-five">
  <div class="card-header">
    <h6 class="card-title">Compliance</h6>
    <span class="card-text">Use to track important healthcare and medical tasks.</span>
  </div><!-- card-header -->
  <div class="card-body row row-sm">
    <div class="col-6">
      <div class="d-flex align-items-center">
        <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10 wd-50">
          <canvas baseChart [type]="'doughnut'" [datasets]="sessionsChartOneData" [labels]="sessionsChartOneLabels" [options]="sessionsChartOneOptions" height="45"></canvas>
        </div>
        <div>
          <label>Vaccinations</label>
          <h4>3</h4>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-6 d-flex align-items-center">
      <div class="d-flex align-items-center">
        <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10 wd-50">
          <canvas baseChart [type]="'doughnut'" [datasets]="sessionsChartTwoData" [labels]="sessionsChartTwoLabels" [options]="sessionsChartTwoOptions" height="45"></canvas>
        </div>
        <div>
          <label>Followups</label>
          <h4>5</h4>
        </div>
      </div>
    </div><!-- col -->
  </div><!-- card-body -->
</div><!-- card-dashboard-five -->
