/* Layers */
//.layerGroup {
//  position: relative;
//  padding: 0;
//  display: flex;
//  justify-content: center;
//  height: 90%;
//}
//.layer {
//  position: absolute;
//  pointer-events: none;
//}

#dwv {
  width: 100%;
  height: 100%;
}

#layerGroup0 {
  width: 90%;
  height: 90%;
}
