<div>
  <div class="row bg-indigo tx-white pt-1 pb-1">
    <!-- Condition Header -->
    <div class="col-6 d-flex align-items-center">
      <h3 class="mb-0">{{condition | fhirPath: "Condition.code.text.first()":"Condition.code.coding.display.first()"}}</h3>
    </div>
    <div class="col-6 d-flex align-items-center">
      <h3 class="mb-0">{{condition | fhirPath: "Condition.onsetPeriod.start":"Condition.onsetDateTime" | date }} - {{condition | fhirPath: "Condition.onsetPeriod.end" | date}}</h3>
    </div>
  </div>

  <div class="row">
    <!-- Condition Details -->

    <div class="col-6 mb-2">

      <div class="row  pl-3">
        <div class="col-12 mt-3 mb-2 tx-indigo">
          <h5>Involved in Care</h5>
        </div>
        <ng-container *ngFor="let careTeamEntry of careTeams | keyvalue">
          <div class="col-6">
            <strong>{{careTeamEntry.value | fhirPath: "CareTeam.participant.member.display"}}</strong>
          </div>
          <div class="col-6">
            {{careTeamEntry.value | fhirPath: "CareTeam.participant.role.text"}}
          </div>
        </ng-container>

        <ng-container *ngFor="let practitionerEntry of practitioners | keyvalue">
          <div class="col-6">
            <strong>{{practitionerEntry.value | fhirPath: "Practitioner.name.family"}}, {{practitionerEntry.value | fhirPath: "Practitioner.name.given"}}</strong>
          </div>
          <div class="col-6">
            {{practitionerEntry.value | fhirPath: "Practitioner.name.prefix"}}
          </div>
        </ng-container>


        <!--              <div class="col-12  mt-3 mb-2 tx-indigo">-->
        <!--                <h5>Initial Presentation</h5>-->
        <!--              </div>-->
        <!--              <div class="col-12">-->
        <!--                Acute right knee pain and tenderness around the joint line - this was likely caused by acute renal failure.-->
        <!--              </div>-->
      </div>



    </div>
    <div class="col-6 mb-2 bg-gray-100">
      <div class="row">
        <ng-container *ngFor="let encounter of condition.related_resources | filter:'source_resource_type':'Encounter'">
          <div class="col-6 mt-3 mb-2 tx-indigo">
            <h5>{{encounter | fhirPath: "Encounter.period.start" | date}}</h5>
          </div>
          <div class="col-6 mt-3 mb-2">
            <small>{{encounter | fhirPath: "Encounter.location.first().location.display"}}</small>
          </div>


          <div class="col-12 mt-2 mb-2" *ngFor="let medications of encounter.related_resources | filter:'source_resource_type':'MedicationRequest'">
            <strong>Medications:</strong> {{medications | fhirPath: "MedicationRequest.medicationReference.display":"MedicationRequest.medicationCodeableConcept.text"}} <br/>
          </div>

          <div class="col-12 mt-2 mb-2" *ngFor="let procedure of encounter.related_resources | filter:'source_resource_type':'Procedure'">
            <strong>Procedures:</strong> {{procedure | fhirPath: "Procedure.code.text"}} <br/>
          </div>

          <div class="col-12 mt-2 mb-2" *ngFor="let diagnosticReport of encounter.related_resources | filter:'source_resource_type':'DiagnosticReport'">
            <strong>Tests and Examinations:</strong> {{diagnosticReport | fhirPath: "DiagnosticReport.code.text":"DiagnosticReport.code.coding.display"}} <br/>
          </div>

          <div class="col-12 mt-2 mb-2" *ngFor="let device of encounter.related_resources | filter:'source_resource_type':'Device'">
            <strong>Device:</strong> {{device | fhirPath: "Device.code.text"}} <br/>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
