<p class="mg-b-20">A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.</p>
<div class="table-responsive">
  <table class="table table-bordered mg-b-0">
    <thead>
    <tr>
      <th>Category</th>
      <th>Reason</th>
      <th>Period</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let careplan of careplanList">
      <td>
        <b>{{careplan.category}}</b>
      </td>
      <td class="align-middle">
        <div *ngFor="let reason of careplan.reason">
          {{reason[0]}}
          <span> - </span>
          <span className="text-muted">
            {{reason[1]  || "no data"}}
          </span>
        </div>
      </td>
      <td class="align-middle">{{careplan.period?.start}} - {{careplan.period?.end}}</td>
      <td class="align-middle">{{careplan.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
