<div class="az-content-left az-content-left-components">
  <div class="component-item">
    <label>Tables</label>
    <nav class="nav flex-column">
      <a routerLink="/utilities/background" routerLinkActive="active" class="nav-link">Background</a>
      <a routerLink="/utilities/border" routerLinkActive="active" class="nav-link">Border</a>
      <a routerLink="/utilities/display" routerLinkActive="active" class="nav-link">Display</a>
      <a routerLink="/utilities/flex" routerLinkActive="active" class="nav-link">Flex</a>
      <a routerLink="/utilities/height" routerLinkActive="active" class="nav-link">Height</a>
      <a routerLink="/utilities/margin" routerLinkActive="active" class="nav-link">Margin</a>
      <a routerLink="/utilities/padding" routerLinkActive="active"  class="nav-link">Padding</a>
      <a routerLink="/utilities/position" routerLinkActive="active" class="nav-link">Position</a>
      <a routerLink="/utilities/typography" routerLinkActive="active" class="nav-link">Typography</a>
      <a routerLink="/utilities/width" routerLinkActive="active" class="nav-link">Width</a>
      <a routerLink="/utilities/extras" routerLinkActive="active" class="nav-link">Extras</a>
    </nav>
  </div><!-- component-item -->

</div><!-- az-content-left -->