<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <!-- Header Row -->
      <div class="row">
        <div class="col-6 bg-indigo tx-white d-flex align-items-center">
          <h1>Patient Profile</h1>
        </div>
        <div class="col-3 mt-2 mb-2 tx-12">
          <p class="mb-0">
            <strong>Patient:</strong> Caldwell, Ruben<br/>
            <strong>Address:</strong> 123 B Street<br/>Gainsville, FL, 94153<br/>
            <strong>Date of Birth:</strong> June 20, 1929<br/>
            <strong>Phone:</strong> 415-343-2342<br/>
            <strong>Email:</strong> myemail@gmail.com
          </p>
        </div>
        <div class="col-3 tx-indigo mt-2 mb-2 tx-12">
          <p class="mb-0">
            <strong>Primary Care:</strong> Bishop, J. ANRP<br/>
            <strong>Address:</strong> Malcom Randall VA <br/>Medical Center Gainsville FL<br/>
            <strong>Phone:</strong> 123-321-5532<br/>
            <strong>Email:</strong> myemail@va.com<br/>
          </p>
        </div>
      </div>

      <div class="pl-3 pr-3">
        <!-- Patient Name Row -->
        <div class="row mt-5 mb-3">
          <div class="col-6">
            <h1>Caldwell, Ruben</h1>
          </div>
        </div>

        <!-- Patient Details -->
        <div class="row">
          <div class="col-6">
            <h2 class="tx-indigo">Patient</h2>

            <div class="row">
              <div class="col-6">
                <strong class="tx-indigo">First Name:</strong>
              </div>
              <div class="col-6">
                Ruben
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Last Name:</strong>
              </div>
              <div class="col-6">
                Caldwell
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Gender:</strong>
              </div>
              <div class="col-6">
                M
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Martial Status:</strong>
              </div>
              <div class="col-6">
                Married
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Religious Affil:</strong>
              </div>
              <div class="col-6">
                N/A
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Ethnicity:</strong>
              </div>
              <div class="col-6">
                White/Caucation
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Language:</strong>
              </div>
              <div class="col-6">
                English
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Address:</strong>
              </div>
              <div class="col-6">
                123 B Street<br/>Gainsville, FL, 94153<br/>
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Date of Birth:</strong>
              </div>
              <div class="col-6">
                June 20, 1929
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Phone:</strong>
              </div>
              <div class="col-6">
                415-343-2342
              </div>

              <div class="col-6">
                <strong class="tx-indigo">Email:</strong>
              </div>
              <div class="col-6">
                myemail@gmail.com
              </div>

            </div>

          </div>
          <div class="col-6">
            <h2 class="tx-indigo">Care Provider</h2>

            <div class="row">
              <div class="col-6">
                <strong class="tx-indigo">Primary Care:</strong>
              </div>
              <div class="col-6">
                Bishop, J. ANRP
              </div>

              <div class="col-6">
                <strong  class="tx-indigo">Address:</strong>
              </div>
              <div class="col-6">
                Malcom Randall VA <br/>Medical Center Gainsville FL
              </div>

              <div class="col-6">
                <strong  class="tx-indigo">Phone:</strong>
              </div>
              <div class="col-6">
                123-321-5532
              </div>

              <div class="col-6">
                <strong  class="tx-indigo">Email:</strong>
              </div>
              <div class="col-6">
                myemail@va.com
              </div>

            </div>
          </div>
        </div>


        <!-- Immunizations & Allergies -->
        <div class="row mt-5">
          <div class="col-6">
            <h2 class="tx-indigo">Immunizations</h2>

            <p>
              <strong class="tx-indigo">Phenumovax</strong><br/>
              07/09/2022<br/>
              <br/>
              <strong class="tx-indigo">Hepatitis B Series [complete]</strong><br/>
              01/12/2005<br/>
              <br/>
              <strong class="tx-indigo">Tetanus Toxoid [complete]</strong><br/>
              02/02/2010<br/>
            </p>

          </div>
          <div class="col-6">
            <h2 class="tx-indigo">Allergies</h2>

            <p>
              <strong class="tx-indigo">Latex</strong><br/>
              (AV/Historical) with rash and agitation<br/>
              <br/>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
