.card-user {
  .author {
      .block {
        &.block-one {
          @include linear-gradient-right(rgba($danger,0.6), rgba($danger,0));
        }

        &.block-two {
          @include linear-gradient-right(rgba($danger,0.6), rgba($danger,0));
        }

        &.block-three {
          @include linear-gradient-right(rgba($danger,0.6), rgba($danger,0));
        }

        &.block-four {
          @include linear-gradient-right(rgba($danger,0.6), rgba($danger,0));
        }
      }
  }
}
