<div class="az-signin-wrapper">
  <div class="az-card-signin">
    <h1 class="az-logo">fasten</h1>
    <div class="az-signin-header">
      <h2>Welcome back!</h2>
      <h4>Please sign in to continue</h4>

      <form>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Enter your email" value="demo@bootstrapdash.com">
        </div><!-- form-group -->
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" value="thisisademo">
        </div><!-- form-group -->
        <a class="btn btn-az-primary btn-block" routerLink="/">Sign In</a>
      </form>
    </div><!-- az-signin-header -->
    <div class="az-signin-footer">
      <p><a href="">Forgot password?</a></p>
      <p>Don't have an account? <a routerLink="/general-pages/signup">Create an Account</a></p>
    </div><!-- az-signin-footer -->
  </div><!-- az-card-signin -->
</div><!-- az-signin-wrapper -->
