<div class="az-signin-wrapper">
  <div class="az-card-signin">
    <h1 class="az-logo">fasten</h1>
    <div class="az-signin-header">
      <h2>Welcome back!</h2>
      <h4>Please sign in to continue</h4>

      <form (ngSubmit)="signinSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="existingUser.username" name="username" #username="ngModel" required minlength="2" type="text" class="form-control" placeholder="Enter your username">

          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
              Username must be at least 4 characters long.
            </div>
          </div>
        </div><!-- form-group -->
        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="existingUser.password" name="password" #password="ngModel" required minlength="8" type="password" class="form-control" placeholder="Enter your password">

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 8 characters long.
            </div>
          </div>
        </div><!-- form-group -->
        <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-az-primary btn-block">Sign In</button>

        <div *ngIf="errorMsg" class="alert alert-danger mt-3" role="alert">
          <strong>Error</strong> {{errorMsg}}
        </div>
      </form>

      <div *ngIf="showExternalIdP" class="pt-4 pb-3">
        <div class="hello-container">
          <button (click)="idpConnectHello($event)" class="hello-btn"></button>
          <button class="hello-about"></button>
        </div>
      </div>



    </div><!-- az-signin-header -->
    <div class="az-signin-footer">
      <p><a ngbTooltip="not yet implemented">Forgot password?</a></p>
      <p>Don't have an account? <a routerLink="/auth/signup">Create an Account</a></p>
    </div><!-- az-signin-footer -->
  </div><!-- az-card-signin -->
</div><!-- az-signin-wrapper -->
