<div class="timeline-badge">
  <p>
    <small>Aug</small>
  </p>
</div>

<nav class="nav nav-tabs timeline-tabs">
  <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">Home</a>
  <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">About</a>
  <a class="nav-link" data-bs-toggle="tab" href="#tabCont3">Contact</a>
</nav>
<div class="timeline-panel">
  <div class="timeline-heading">
    <a style="color:black;" routerLink="/explore/{{displayModel?.source_id}}/resource/{{displayModel?.source_resource_id}}">
      <h4 class="timeline-title">
        {{displayModel.sort_title}}
      </h4>
    </a>
    <p>
      <small class="cursor-pointer text-muted pd-r-15" placement="bottom-left" popoverClass="card-fhir-resource-popover" [ngbPopover]="practitionerPopoverContent" *ngFor="let practitioner of displayModel.related_resources['Practitioner']">
        <i class="fas fa-user-md"></i> {{practitioner.sort_title}}
        <ng-template #practitionerPopoverContent>
          <fhir-resource [displayModel]="practitioner"></fhir-resource>
        </ng-template>
      </small>

      <small class="cursor-pointer text-muted pd-r-15" placement="bottom-left" popoverClass="card-fhir-resource-popover" [ngbPopover]="organizationPopoverContent" *ngFor="let organization of displayModel.related_resources['Organization']">
        <i class="fas fa-hospital"></i> {{organization.sort_title}}
        <ng-template #organizationPopoverContent>
          <fhir-resource [displayModel]="organization"></fhir-resource>
        </ng-template>
      </small>

      <small class="cursor-pointer text-muted pd-r-15" placement="bottom-left" popoverClass="card-fhir-resource-popover" [ngbPopover]="locationPopoverContent" *ngFor="let location of displayModel.related_resources['Location']">
        <i class="fas fa-map-marker-alt"></i> {{location.sort_title}}
        <ng-template #locationPopoverContent>
          <fhir-resource [displayModel]="location"></fhir-resource>
        </ng-template>
      </small>

    </p>
  </div>
  <div class="timeline-body">

    <div *ngIf="displayModel?.related_resources?.MedicationRequest || displayModel?.related_resources?.Medication">
      <strong>Medications:</strong>
      <ul>
        <li class="cursor-pointer" [ngbPopover]="medicationRequestPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover" *ngFor="let medication of displayModel?.related_resources?.MedicationRequest">
          {{medication.display }}

          <ng-template #medicationRequestPopoverContent>
            <fhir-resource [displayModel]="medication"></fhir-resource>
          </ng-template>
        </li>
        <li class="cursor-pointer" [ngbPopover]="medicationPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover" *ngFor="let medication of displayModel?.related_resources?.Medication">
          {{medication.title }}

          <ng-template #medicationPopoverContent>
            <fhir-resource [displayModel]="medication"></fhir-resource>
          </ng-template>
        </li>
      </ul>
    </div>


    <div *ngIf="displayModel?.related_resources?.Procedure as procedures">
      <strong>Procedures:</strong>
      <ul>
        <li class="cursor-pointer" [ngbPopover]="procedurePopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover"  *ngFor="let procedure of procedures">
          {{procedure.display}}

          <ng-template #procedurePopoverContent>
            <fhir-resource [displayModel]="procedure"></fhir-resource>
          </ng-template>
        </li>
      </ul>
    </div>

    <div *ngIf="displayModel?.related_resources?.Immunization as immunizations">
      <strong>Immunizations:</strong>
      <ul>
        <li class="cursor-pointer" [ngbPopover]="immunizationPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover"  *ngFor="let immunization of immunizations">
          {{immunization.sort_title}}

          <ng-template #immunizationPopoverContent>
            <fhir-resource [displayModel]="immunization"></fhir-resource>
          </ng-template>
        </li>
      </ul>
    </div>

    <div *ngIf="displayModel?.related_resources?.Device as devices">
      <strong>Device:</strong>
      <ul>
        <li routerLink="/explore/{{device?.source_id}}/resource/{{device?.source_resource_id}}" *ngFor="let device of devices" role="link">
          {{device.model}}
        </li>
      </ul>
    </div>

    <hr>

    <div *ngIf="displayModel?.related_resources?.['DocumentReference']?.length > 0 || displayModel?.related_resources?.['DiagnosticReport']?.length > 0" ngbDropdown class="d-inline-block dropdown ml-3">
      <button type="button" class="btn btn-outline-indigo" id="dropdownReports" ngbDropdownToggle>
        Clinical Reports
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownReports">
        <a class="dropdown-item"
          *ngFor="let documentReference of displayModel.related_resources['DocumentReference']" ngbDropdownItem
          routerLink="/explore/{{documentReference?.source_id}}/resource/{{documentReference?.source_resource_id}}"
        >{{documentReference?.sort_title}}</a>
        <a class="dropdown-item"
          *ngFor="let diagnosticReport of displayModel.related_resources['DiagnosticReport']" ngbDropdownItem
          routerLink="/labs/report/{{diagnosticReport?.source_id}}/DiagnosticReport/{{diagnosticReport?.source_resource_id}}"
        >Lab Report - {{diagnosticReport?.sort_title}}</a>
      </div>
    </div>


    <div ngbDropdown class="d-inline-block dropdown ml-3 float-right">
      <button type="button" class="btn text-muted" id="dropdownAll" ngbDropdownToggle>
        View Related
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownReports">
        <ng-container *ngFor="let resourceEntry of displayModel?.related_resources | keyvalue">
          <a class="dropdown-item"
            *ngFor="let resourceListItem of resourceEntry.value" ngbDropdownItem
            routerLink="/explore/{{resourceListItem?.source_id}}/resource/{{resourceListItem?.source_resource_id}}"
          >{{resourceListItem.source_resource_type}} {{resourceListItem.sort_title ? '- '+resourceListItem.sort_title : '' }}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
