<div class="az-content">
  <div class="container">
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>Forms</span>
        <span>Form Elements</span>
      </div>
      <h2 class="az-content-title">Create a Record</h2>

      <!-- Editor Button -->
      <div class="row mt-5 mb-3">
        <div class="col-12">

          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> This form is in early-alpha and is not ready for general use. You will encounter bugs and missing features.
            Please open a <a href="https://github.com/fastenhealth/fasten-onprem/issues/new?title=Resource+Create+-+Your+Feature+Or+Bug+Here">Github Issue</a> if you find any bugs or have any suggestions.
            <br/>
            <br/>
            Enable Debug mode: <input type="checkbox" [(ngModel)]="debugMode"/>
          </div>

          <div *ngIf="debugMode" class="alert alert-warning">
            <pre><code  [highlight]="form.getRawValue() | json"></code></pre>
            <strong>Form Status: {{ form.status }}</strong>
          </div>
        </div>
      </div>

      <div class="az-content-label mg-b-5">Condition</div>
      <p class="mg-b-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>


      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngIf="debugMode" class="alert alert-warning">
          <strong>Condition Status: {{form.get('condition').status}}</strong>
        </div>
        <ng-container formGroupName="condition">
          <div class="row row-sm">
            <div class="col-lg-4">
              <p class="mg-b-10">Medical condition<span ngbTooltip="required" class="text-danger">*</span></p>
              <app-nlm-typeahead formControlName="data" [debugMode]="debugMode"></app-nlm-typeahead>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Status<span ngbTooltip="required" class="text-danger">*</span></p>
              <select formControlName="status" class="form-control">
                <option value="" hidden selected>Select Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Started<span ngbTooltip="required" class="text-danger">*</span></p>
              <input formControlName="started" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #cds="ngbDatepicker" (click)="cds.toggle()">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Stopped</p>
              <input formControlName="stopped" [minDate]="form.get('condition').get('started').value" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #cde="ngbDatepicker" (click)="cde.toggle()">
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-sm mg-t-20">
            <div class="col-lg">
              <p class="mg-b-10">Description/Comment</p>
              <textarea formControlName="description" rows="3" class="form-control" placeholder="Textarea"></textarea>
            </div><!-- col -->
          </div><!-- row -->
        </ng-container>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['medication'] = !collapsePanel['medication']">
                <div>
                  <h6 class="card-title">Medications</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['medication']" class="card-body">

                <ng-container formArrayName="medications">
                  <div class="card mg-t-10 pd-20" [formGroup]="medicationGroup" *ngFor="let medicationGroup of medications.controls; let i = index">
                    <div *ngIf="debugMode" class="alert alert-warning">
                      <strong>Medication Status: {{medicationGroup.status}}</strong>
                    </div>
                    <div class="tx-right">
                      <span class="cursor-pointer" (click)="deleteMedication(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
                    </div>
                    <div class="row row-sm">
                      <div class="col-lg-6">
                        <p class="mg-b-10">Medication name<span ngbTooltip="required" class="text-danger">*</span></p>
                        <app-nlm-typeahead formControlName="data" searchType="Medication" [debugMode]="debugMode"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Status<span ngbTooltip="required" class="text-danger">*</span></p>
                        <select formControlName="status" class="form-control">
                          <option value="" hidden selected>Select Status</option>
                          <option value="active">Active</option>
                          <option value="stopped">Stopped</option>
                        </select>                </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Dosage</p>
                        <input formControlName="dosage" class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Started<span ngbTooltip="required" class="text-danger">*</span></p>
                        <input formControlName="started" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()">
                      </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Stopped</p>
                        <input [minDate]="medicationGroup.get('started').value" formControlName="stopped" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dstop="ngbDatepicker" (click)="dstop.toggle()">
                      </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Why Stopped</p>
                        <app-nlm-typeahead formControlName="whystopped" searchType="MedicationWhyStopped" [debugMode]="debugMode"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Prescribing Practitioner<span ngbTooltip="required" class="text-danger">*</span></p>
                        <select class="form-control" formControlName="requester">
                          <option value="" hidden selected>Select Practitioner</option>
                          <option value="" (click)="openPractitionerModal(practitionerCreateModal, medicationGroup, 'requester')">New Practitioner</option>
                          <optgroup *ngIf="practitioners.controls.length" class="divider"></optgroup>
                          <option *ngFor="let practitioner of practitioners.controls; let i = index" [value]="practitioner.value.id">
                            {{practitioner.value.name}} ({{practitioner.value.profession.text}})
                          </option>
                        </select>
                      </div><!-- col -->
                    </div><!-- row -->
                    <div class="row row-sm mg-t-20">
                      <div class="col-lg">
                        <p class="mg-b-10">Instructions</p>
                        <textarea formControlName="instructions" rows="3" class="form-control" placeholder="Textarea"></textarea>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div>
                </ng-container>
                <div class="row pt-2">
                  <div class="col-lg-4 col-md-3">
                    <button type="button" (click)="addMedication()" class="btn btn-outline-indigo btn-block">Add Medication</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['medication'] = !collapsePanel['medication']">{{collapsePanel['medication'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">


        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['procedure'] = !collapsePanel['procedure']">
                <div>
                  <h6 class="card-title">Major Surgeries and Implants</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['procedure']" class="card-body">
                <ng-container formArrayName="procedures">
                  <div class="card mg-t-10 pd-20" [formGroup]="procedureGroup" *ngFor="let procedureGroup of procedures.controls; let i = index">
                    <div *ngIf="debugMode" class="alert alert-warning">
                      <strong>Procedure Status: {{procedureGroup.status}}</strong>
                    </div>
                    <div class="tx-right">
                      <span class="cursor-pointer" (click)="deleteProcedure(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
                    </div>
                    <div class="row row-sm">
                      <div class="col-lg-8">
                        <p class="mg-b-10">Surgery or Implant<span ngbTooltip="required" class="text-danger">*</span></p>
                        <app-nlm-typeahead formControlName="data" searchType="Procedure" [debugMode]="debugMode"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg-4 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">When done<span ngbTooltip="required" class="text-danger">*</span></p>
                        <input formControlName="whendone" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dwd="ngbDatepicker" (click)="dwd.toggle()">
                      </div><!-- col -->
                      <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Performed By</p>
                        <select class="form-control" formControlName="performer">
                          <option value="" hidden selected>Select Practitioner</option>
                          <option value="" (click)="openPractitionerModal(practitionerCreateModal, procedureGroup, 'performer')">New Practitioner</option>
                          <optgroup *ngIf="practitioners.controls.length" class="divider"></optgroup>
                          <option *ngFor="let practitioner of practitioners.controls; let i = index" [value]="practitioner.value.id">
                            {{practitioner.value.name}} ({{practitioner.value.profession.text}})
                          </option>
                        </select>
                      </div><!-- col -->
                      <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Location</p>
                        <select class="form-control" formControlName="location">
                          <option value="" hidden selected>Select Location</option>
                          <option value="" (click)="openOrganizationModal(organizationCreateModal, procedureGroup, 'location')">New Organization</option>
                          <optgroup *ngIf="organizations.controls.length" class="divider"></optgroup>
                          <option *ngFor="let organization of organizations.controls; let i = index" [value]="organization.value.id">
                            {{organization.value.name}} ({{organization.value.address}})
                          </option>
                        </select>
                      </div><!-- col -->
                      <div class="col-lg-12 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Comments</p>
                        <textarea formControlName="comment" class="form-control" placeholder="Input box" rows="3"></textarea>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div>
                </ng-container>


                <div class="row pt-2">
                  <div class="col-lg-4 col-md-3">
                    <button type="button" (click)="addProcedure()" class="btn btn-outline-indigo btn-block">Add Surgery or Implant</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['procedure'] = !collapsePanel['procedure']">{{collapsePanel['procedure'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['practitioner'] = !collapsePanel['practitioner']">
                <div>
                  <h6 class="card-title">Medical Practitioners</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['practitioner']" class="card-body">

                <ng-container formArrayName="practitioners">
                  <div class="card mg-t-10 pd-20" [formGroup]="practitionerGroup" *ngFor="let practitionerGroup of practitioners.controls; let i = index">
                    <div class="tx-right">
                      <span class="cursor-pointer" (click)="deletePractitioner(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
                    </div>

                    <div class="row row-sm">
                        <input formControlName="id" class="form-control" type="hidden">

                        <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
                          <input formControlName="name" class="form-control" readonly placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Type<span ngbTooltip="required" class="text-danger">*</span></p>
                          <app-nlm-typeahead formControlName="profession"  searchType="MedicalContactIndividualProfession" [debugMode]="debugMode"></app-nlm-typeahead>
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Telephone</p>
                          <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Fax</p>
                          <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Email</p>
                          <input formControlName="email" class="form-control" placeholder="email@example.com" type="text">
                        </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Address</p>
                        <input formControlName="address" class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->

                    </div><!-- row -->

                  </div>
                </ng-container>

                <div class="row pt-2">
                  <div class="col-lg-4 col-md-4">
                    <button type="button" (click)="openPractitionerModal(practitionerCreateModal)" class="btn btn-outline-indigo btn-block">Add Practitioner</button>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['practitioner'] = !collapsePanel['practitioner']">{{collapsePanel['practitioner'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">


        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['organization'] = !collapsePanel['organization']">
                <div>
                  <h6 class="card-title">Medical Location/Organizations</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['organization']" class="card-body">

                <ng-container formArrayName="locations">
                  <div class="card mg-t-10 pd-20" [formGroup]="organizationGroup" *ngFor="let organizationGroup of organizations.controls; let i = index">
                    <div class="tx-right">
                      <span class="cursor-pointer" (click)="deleteOrganization(i)" aria-hidden="true"><i class="fas fa-trash"></i></span>
                    </div>

                    <div class="row row-sm">
                      <input formControlName="id" class="form-control" type="hidden">

                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
                        <input formControlName="name" readonly class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Type</p>
                        <app-nlm-typeahead formControlName="type" searchType="MedicalContactOrganizationType" [debugMode]="debugMode"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Telephone</p>
                        <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Fax</p>
                        <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Email</p>
                        <input formControlName="email" class="form-control" placeholder="email@example.com" type="text">
                      </div><!-- col -->

                    </div><!-- row -->

                  </div>
                </ng-container>

                <div class="row pt-2">
                  <div class="col-lg-4 col-md-4">
                    <button type="button" (click)="openOrganizationModal(organizationCreateModal)" class="btn btn-outline-indigo btn-block">Add Organization</button>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['organization'] = !collapsePanel['organization']">{{collapsePanel['organization'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['attachments'] = !collapsePanel['attachments']">
                <div>
                  <h6 class="card-title">Notes & Attachments</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['attachments']" class="card-body">
                <div class="row row-sm">
                  <div class="col-lg">
                    <p class="mg-b-10">Name</p>
                    <input disabled class="form-control" placeholder="Input box" type="text">
                  </div><!-- col -->
                  <div class="col-lg mg-t-10 mg-lg-t-0">
                    <p class="mg-b-10">Type</p>
                    <input disabled class="form-control" placeholder="Input box" type="text">
                  </div><!-- col -->

                </div><!-- row -->
                <div class="row pt-2">
                  <div class="col-lg-4 col-md-3">
                    <button disabled type="button" class="btn btn-outline-indigo btn-block">Add Note or Attachment</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['attachments'] = !collapsePanel['attachments']">{{collapsePanel['attachments'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <button  class="mg-t-20 mg-b-20 btn btn-az-primary btn-rounded btn-block " type="submit">Submit</button>
      </form>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->


<ng-template #practitionerCreateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-practitioner">New Practitioner</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">

    <div *ngIf="debugMode" class="alert alert-warning">
      <pre><code  [highlight]="newPractitionerForm.getRawValue() | json"></code></pre>
      <strong>New Practitioner Form Status: {{ newPractitionerForm.status }}</strong>
    </div>

    <div class="row row-sm">

      <div class="col-12">
        <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
        <form [formGroup]="newPractitionerTypeaheadForm">
          <app-nlm-typeahead formControlName="data" searchType="MedicalContactIndividual" [debugMode]="debugMode"></app-nlm-typeahead>
        </form>
        <span *ngFor="let extId of newPractitionerForm.get('identifier').getRawValue()" class="badge badge-pill badge-primary">{{extId.type?.coding[0].code}}: {{extId.value}}</span>
      </div><!-- col -->
      <ng-container [formGroup]="newPractitionerForm">
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Type<span ngbTooltip="required" class="text-danger">*</span></p>
          <app-nlm-typeahead formControlName="profession" searchType="MedicalContactIndividualProfession" [debugMode]="debugMode"></app-nlm-typeahead>
        </div><!-- col -->

        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Telephone</p>
          <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
        </div><!-- col -->
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Fax</p>
          <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
        </div><!-- col -->
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Email</p>
          <input formControlName="email" class="form-control" placeholder="email@example.com" type="text" email>
        </div><!-- col -->
        <ng-container formGroupName="address">
          <div class="col-12 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Address</p>
            <input formControlName="line1" class="form-control" placeholder="Line 1" type="text">
          </div><!-- col -->
          <div class="col-12 pd-t-10 mg-t-10 mg-lg-t-0">
            <input formControlName="line2" class="form-control" placeholder="Line 2" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">City</p>
            <input formControlName="city" class="form-control" placeholder="City" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">State</p>
            <input formControlName="state" class="form-control" placeholder="State" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Zip/Postal</p>
            <input formControlName="zip" class="form-control" placeholder="Zip" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Country</p>
            <app-nlm-typeahead formControlName="country" searchType="Countries" [debugMode]="debugMode"></app-nlm-typeahead>
          </div><!-- col -->
        </ng-container>
      </ng-container>
    </div><!-- row -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-az-primary" (click)="modal.dismiss()">Add Practitioner</button>
  </div>
</ng-template>



<ng-template #organizationCreateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-location">New Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">

    <div *ngIf="debugMode" class="alert alert-warning">
      <pre><code  [highlight]="newOrganizationForm.getRawValue() | json"></code></pre>
      <strong>New Organization Form Status: {{ newOrganizationForm.status }}</strong>
    </div>

    <div class="row row-sm">

      <div class="col-12">
        <p class="mg-b-10">Name<span ngbTooltip="required" class="text-danger">*</span></p>
        <form [formGroup]="newOrganizationTypeaheadForm">
          <app-nlm-typeahead formControlName="data" searchType="MedicalContactOrganization" [debugMode]="debugMode"></app-nlm-typeahead>
        </form>
        <span *ngFor="let extId of newOrganizationForm.get('identifier').getRawValue()" class="badge badge-pill badge-primary">{{extId.type?.coding[0].code}}: {{extId.value}}</span>
      </div><!-- col -->

      <ng-container [formGroup]="newOrganizationForm">
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Type<span ngbTooltip="required" class="text-danger">*</span></p>
          <app-nlm-typeahead formControlName="type" searchType="MedicalContactOrganizationType" [debugMode]="debugMode"></app-nlm-typeahead>
        </div><!-- col -->
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Telephone</p>
          <input formControlName="phone" class="form-control" placeholder="(123) 456-7890" type="text">
        </div><!-- col -->
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Fax</p>
          <input formControlName="fax" class="form-control" placeholder="(123) 456-7890" type="text">
        </div><!-- col -->
        <div class="col-6 mg-t-10 mg-lg-t-0">
          <p class="mg-b-10">Email</p>
          <input formControlName="email" class="form-control" placeholder="email@example.com" type="text" email>
        </div><!-- col -->
        <ng-container formGroupName="address">
          <div class="col-12 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Address</p>
            <input formControlName="line1" class="form-control" placeholder="Line 1" type="text">
          </div><!-- col -->
          <div class="col-12 pd-t-10 mg-t-10 mg-lg-t-0">
            <input formControlName="line2" class="form-control" placeholder="Line 2" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">City</p>
            <input formControlName="city" class="form-control" placeholder="City" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">State</p>
            <input formControlName="state" class="form-control" placeholder="State" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Zip/Postal</p>
            <input formControlName="zip" class="form-control" placeholder="Zip" type="text">
          </div><!-- col -->
          <div class="col-6 mg-t-10 mg-lg-t-0">
            <p class="mg-b-10">Country</p>
            <app-nlm-typeahead formControlName="country" searchType="Countries" [debugMode]="debugMode"></app-nlm-typeahead>
          </div><!-- col -->
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-az-primary" (click)="modal.dismiss()">Add Location</button>
  </div>
</ng-template>
