<div class="az-content">
  <div class="container">
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>Forms</span>
        <span>Form Elements</span>
      </div>
      <h2 class="az-content-title">Create a Record</h2>

      <div class="az-content-label mg-b-5">Condition</div>
      <p class="mg-b-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>

      <pre>{{ form.getRawValue() | json}}</pre>
      <p>Form Status: {{ form.status }}</p>

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <ng-container formGroupName="condition">
          <div class="row row-sm">
            <div class="col-lg">
              <p class="mg-b-10">Medical condition</p>
              <app-nlm-typeahead formControlName="data" ></app-nlm-typeahead>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Status</p>
              <select formControlName="status" class="form-control">
                <option value="" hidden selected>Select Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Started</p>
              <input formControlName="started" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #cds="ngbDatepicker" (click)="cds.toggle()">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <p class="mg-b-10">Stopped</p>
              <input formControlName="stopped" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #cde="ngbDatepicker" (click)="cde.toggle()">
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-sm mg-t-20">
            <div class="col-lg">
              <p class="mg-b-10">Description/Comment</p>
              <textarea formControlName="description" rows="3" class="form-control" placeholder="Textarea"></textarea>
            </div><!-- col -->
          </div><!-- row -->
        </ng-container>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['medication'] = !collapsePanel['medication']">
                <div>
                  <h6 class="card-title">Medications</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['medication']" class="card-body">

                <ng-container formArrayName="medications">
                  <div class="card mg-t-10 pd-20" [formGroup]="medicationGroup" *ngFor="let medicationGroup of medications.controls; let i = index">
                    <div class="row row-sm">
                      <div class="col-lg">
                        <p class="mg-b-10">Medication name</p>
                        <app-nlm-typeahead formControlName="data" searchType="Medication"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Status</p>
                        <select formControlName="status" class="form-control">
                          <option value="" hidden selected>Select Status</option>
                          <option value="active">Active</option>
                          <option value="stopped">Stopped</option>
                        </select>                </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Dosage</p>
                        <input formControlName="dosage" class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Started</p>
                        <input formControlName="started" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Stopped</p>
                        <input formControlName="stopped" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dstop="ngbDatepicker" (click)="dstop.toggle()">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Why Stopped</p>
                        <app-nlm-typeahead formControlName="whystopped" searchType="MedicationWhyStopped"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Prescribing Practitioner</p>
                        <select formControlName="requester">
                          <option value="" hidden selected>Select Practitioner</option>
                          <option value="" (click)="openModal(practitionerCreateModal, medicationGroup, 'requester')">New Practitioner</option>
                          <optgroup *ngIf="practitioners.controls" class="divider"></optgroup>
                          <option *ngFor="let practitioner of practitioners.controls; let i = index" [value]="practitioner.value.id">
                            {{practitioner.value.name}} ({{practitioner.value.profession.text}})
                          </option>
                        </select>
                      </div><!-- col -->
                    </div><!-- row -->
                    <div class="row row-sm mg-t-20">
                      <div class="col-lg">
                        <p class="mg-b-10">Instructions</p>
                        <textarea formControlName="instructions" rows="3" class="form-control" placeholder="Textarea"></textarea>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div>
                </ng-container>
                <div class="row pt-2">
                  <div class="col-sm-6 col-md-3">
                    <button (click)="addMedication()" class="btn btn-az-primary btn-block">Add medication</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['medication'] = !collapsePanel['medication']">{{collapsePanel['medication'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">


        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['procedure'] = !collapsePanel['procedure']">
                <div>
                  <h6 class="card-title">Major Surgeries and Implants</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['procedure']" class="card-body">
                <ng-container formArrayName="procedures">
                  <div class="card mg-t-10 pd-20" [formGroup]="procedureGroup" *ngFor="let procedureGroup of procedures.controls; let i = index">
                    <div class="row row-sm">
                      <div class="col-lg-2">
                        <p class="mg-b-10">Surgery or Implant</p>
                        <app-nlm-typeahead formControlName="data" searchType="Procedure"></app-nlm-typeahead>
                      </div><!-- col -->
                      <div class="col-lg-2 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">When done</p>
                        <input formControlName="whendone" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dwd="ngbDatepicker" (click)="dwd.toggle()">
                      </div><!-- col -->
                      <div class="col-lg-8 mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Comments</p>
                        <input formControlName="comment" class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                    </div><!-- row -->
                  </div>
                </ng-container>


                <div class="row pt-2">
                  <div class="col-sm-6 col-md-3">
                    <button (click)="addProcedure()" class="btn btn-az-primary btn-block">Add surgery or implant</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['procedure'] = !collapsePanel['procedure']">{{collapsePanel['procedure'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['practitioner'] = !collapsePanel['practitioner']">
                <div>
                  <h6 class="card-title">Medical Practitioners</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['practitioner']" class="card-body">

                <ng-container formArrayName="practitioners">
                  <div class="card mg-t-10 pd-20" [formGroup]="practitionerGroup" *ngFor="let practitionerGroup of practitioners.controls; let i = index">

                    <div class="row row-sm">
                        <input formControlName="id" class="form-control" type="hidden">

                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Name</p>
                          <input formControlName="name" class="form-control" readonly placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Type</p>
                          <app-nlm-typeahead formControlName="profession"  searchType="MedicalContactIndividualProfession"></app-nlm-typeahead>
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Telephone</p>
                          <input formControlName="phone" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Fax</p>
                          <input formControlName="fax" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Email</p>
                          <input formControlName="email" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <p class="mg-b-10">Address</p>
                        <input formControlName="address" class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Comment</p>
                          <input formControlName="comment" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->

                    </div><!-- row -->

                  </div>
                </ng-container>

                <div class="row pt-2">
                  <div class="col-sm-6 col-md-4">
                    <button (click)="openModal(practitionerCreateModal)" class="btn btn-az-primary btn-block">Add Practitioner</button>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['practitioner'] = !collapsePanel['practitioner']">{{collapsePanel['practitioner'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">


        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['location'] = !collapsePanel['location']">
                <div>
                  <h6 class="card-title">Medical Location/Organizations</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['location']" class="card-body">

                <ng-container formArrayName="locations">
                  <div class="card mg-t-10 pd-20" [formGroup]="locationGroup" *ngFor="let locationGroup of locations.controls; let i = index">

                    <div class="row row-sm">
                      <ng-container *ngIf="locationGroup.value.contactType == 'search'">
                        <div class="col-lg">
                          <p class="mg-b-10">Name</p>
                          <app-nlm-typeahead formControlName="data" searchType="MedicalContactOrganization"></app-nlm-typeahead>
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Comment</p>
                          <input formControlName="comment" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                      </ng-container>
                      <ng-container *ngIf="locationGroup.value.contactType == 'manual'">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Name</p>
                          <input formControlName="name" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Telephone</p>
                          <input formControlName="phone" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Fax</p>
                          <input formControlName="fax" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Email</p>
                          <input formControlName="email" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                          <p class="mg-b-10">Comment</p>
                          <input formControlName="comment" class="form-control" placeholder="Input box" type="text">
                        </div><!-- col -->
                      </ng-container>

                    </div><!-- row -->

                  </div>
                </ng-container>

                <div class="row pt-2">
                  <div class="col-sm-6 col-md-4">
                    <button (click)="addLocation('search')" class="btn btn-az-primary btn-block">Search for Organization</button>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <button (click)="addLocation('manual')" class="btn btn-az-primary btn-block">Enter manually</button>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['location'] = !collapsePanel['location']">{{collapsePanel['location'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mg-y-30">

        <div class="row">
          <div class="col-lg">
            <div class="card card-fhir-resource" >
              <div class="card-header" (click)="collapsePanel['attachments'] = !collapsePanel['attachments']">
                <div>
                  <h6 class="card-title">Notes & Attachments</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
              </div>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsePanel['attachments']" class="card-body">
                <div class="row row-sm">
                  <div class="col-lg">
                    <p class="mg-b-10">Name</p>
                    <input class="form-control" placeholder="Input box" type="text">
                  </div><!-- col -->
                  <div class="col-lg mg-t-10 mg-lg-t-0">
                    <p class="mg-b-10">Type</p>
                    <input class="form-control" placeholder="Input box" type="text">
                  </div><!-- col -->

                </div><!-- row -->
                <div class="row pt-2">
                  <div class="col-sm-6 col-md-3">
                    <button class="btn btn-az-primary btn-block">Add another note or attachment</button>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a class="float-right" (click)="collapsePanel['attachments'] = !collapsePanel['attachments']">{{collapsePanel['attachments'] ? 'expand' : 'collapse'}}</a>
              </div>
            </div>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>

    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->


<ng-template #practitionerCreateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Practitioner</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row row-sm">

      <div class="col-6">
        <p class="mg-b-10">Name</p>
        <form [formGroup]="newPractitionerForm">
          <app-nlm-typeahead formControlName="data" searchType="MedicalContactIndividual"></app-nlm-typeahead>
        </form>
      </div><!-- col -->
      <div class="col-6 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Type</p>
        <app-nlm-typeahead [(ngModel)]="newPractitionerModel.profession" searchType="MedicalContactIndividualProfession"></app-nlm-typeahead>
      </div><!-- col -->

      <div class="col-6 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Telephone</p>
        <input [(ngModel)]="newPractitionerModel.phone" class="form-control" placeholder="Input box" type="text">
      </div><!-- col -->
      <div class="col-6 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Fax</p>
        <input [(ngModel)]="newPractitionerModel.fax" class="form-control" placeholder="Input box" type="text">
      </div><!-- col -->
      <div class="col-6 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Email</p>
        <input [(ngModel)]="newPractitionerModel.email" class="form-control" placeholder="Input box" type="text">
      </div><!-- col -->
      <div class="col-6 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Address</p>
        <input [(ngModel)]="newPractitionerModel.address" class="form-control" placeholder="Input box" type="text">
      </div><!-- col -->
      <div class="col-12 mg-t-10 mg-lg-t-0">
        <p class="mg-b-10">Comment</p>
        <input [(ngModel)]="newPractitionerModel.comment" class="form-control" placeholder="Input box" type="text">
      </div><!-- col -->

    </div><!-- row -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(newPractitionerModel)">Add Practitioner</button>
  </div>
</ng-template>
