<div class="modal-header">
  <h4 class="modal-title"> Condition Editor </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>Create Group</strong> If you have Conditions & Encounters from multiple healthcare providers that are related,
        you can group them together by using the checkboxes below. You can also provide a new name for this new group.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Group Title</span>
        </div>
        <input type="text" class="form-control" placeholder="provide a name for your new group" [(ngModel)]="compositionTitle" [disabled]="(selectedResources | keyvalue)?.length == 0" >
      </div>
    </div>
  </div>

  <tree-root [nodes]="nodes" [options]="options">

    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <tree-node-checkbox *ngIf="node.data.show_checkbox"
                            (click)="onResourceCheckboxClick($event, node)"
                            [node]="node"></tree-node-checkbox>
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper"
             [class.node-content-wrapper-active]="node.isActive"
             [class.node-content-wrapper-focused]="node.isFocused"
             (click)="node.mouseAction('click', $event)"
             (dblclick)="node.mouseAction('dblClick', $event)"
             (contextmenu)="node.mouseAction('contextMenu', $event)"
             (treeDrop)="node.onDrop($event)"
             [treeAllowDrop]="node.allowDrop"
             [treeDrag]="node"
             [treeDragEnabled]="node.allowDrag()">

          <tree-node-content [node]="node" [index]="index"></tree-node-content>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-indigo" [disabled]="!compositionTitle"  (click)="onMergeResourcesClick()">Merge Selected</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


